@import '@/app';

.landing-header {
    background-color: $landingHeaderbackground;
    margin-bottom: 37px;
    padding: 0 32px;

    .landing-header_content {
        height: 53px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 1586px;
        margin: 0 auto;

        .landing-header_item {
            display: flex;
            color: $widgetActiveBlue;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;

            &:not(:last-of-type) {
                margin-right: 60px;
            }

            &.mod_position{
                margin-right: 72px;
            }
        }
    }
}

