@import '@/app';

.landing-header {
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    z-index: 999;

    @include media('d-only') {
        background-color: $landingHeaderbackground;
        margin-bottom: 37px;
        position: relative;
    }

    .landing-header_content {
        display: flex;
        align-items: center;
        max-width: 1650px;
        margin: 0 auto;
        padding: 24px 16px 21px 16px;
        justify-content: space-between;

        @include media('d-only') {
            padding: 0 32px;
            height: 53px;
            justify-content: flex-end;
        }

        .header-hamburger {
            position: relative;
            width: 26px;
            height: 14px;
            cursor: pointer;

            .header-hamburger_item {
                width: 26px;
                height: 2px;
                position: absolute;
                background-color: $widgetActiveBlue;
                border-radius: 1px;

                &.top {
                    top: 0;
                }

                &.middle {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.bottom {
                    bottom: 0;
                }
            }

            @include media('d-only') {
                display: none;
            }
        }

        .logo {
            &.landingClass {
                @include media('d-only') {
                    display: none;
                }
            }
        }

        .landing-header_user {
            border: 2px solid $widgetActiveBlue;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            overflow: hidden;

            @include media('d-only') {
                display: none;
            }

            .header-user_icon {
                position: relative;
                top: 2px;

                display: block;
                width: 24px;
                height: 22px;
                fill: $widgetActiveBlue;
            }
        }


        .landing-header_item {
            display: none;

            @include media('d-only') {
                display: flex;
                color: $widgetActiveBlue;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                align-items: center;

                &:not(:last-of-type) {
                    margin-right: 60px;
                }

                &.mod_position {
                    margin-right: 72px;
                }
            }

        }

        .landing-header_item-icon {
            width: 16px;
            height: 13px;
            fill: $widgetActiveBlue;
            margin-right: 9px;
        }

        .landing-header_icon {
            width: 12px;
            height: 7px;
            stroke: $widgetActiveBlue;
            margin-left: 9px;
        }
    }


    .landing-mobile_menu {
        background-color: $landingBackground;

        @include media('d-only') {
            display: none;
        }

        .landing-menu_head {
            height: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $landingHeaderbackground;
            position: relative;

            .landing-menu_icon{
                width: 18px;
                height: 16px;
                position: absolute;
                left: 17px;
                fill: $widgetActiveBlue;
                cursor: pointer;

            }
        }

        .landing-menu_content {
            max-width: 1650px;
            margin: 0 auto;
            padding: 55px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .landing-menu_nav {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 51px;
            }

            .landing-menu_item {
                list-style-type: none;
                text-transform: uppercase;
                padding: 2px 0;
                color: $mainDarkBlue;
                cursor: pointer;
                margin-bottom: 25px;

                &:not(:last-of-type) {
                    margin-bottom: 42px;
                }
            }

            .landing-menu_icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 223px;

                .landing-menu_icon {
                    width: 21px;
                    height: 16px;
                    fill: $widgetActiveBlue;
                    cursor: pointer;
                }

                .landing-header_block {
                    font-size: 0;
                    cursor: pointer;
                }

                .landing-header_text {
                    color: $widgetActiveBlue;
                    font-size: 16px;
                    font-weight: 600;
                    margin-right: 10px;
                }

                .landing-header_icon {
                    width: 12px;
                    height: 7px;
                    stroke: $widgetActiveBlue;
                }
            }
        }
    }
}

