@import '@/app';

.billing-invoice {

    .billing_container {
        max-width: 1625px;
        padding: 39px 0;

        @include media('d-only') {
            padding: 54px 45px 0 38px;
            margin-bottom: 64px;
        }

        .billing-invoice_content {

            .cabinet-page_title {
                padding: 0 17px;
                margin-bottom: 38px;

                @include media('d-only') {
                    padding: 0;
                    margin-bottom: 54px;
                }
            }

            .billing-invoice_table-wrap{

            }

            .widget-chat_table {

                @include media('d-only') {
                    overflow-x: auto;
                    overflow-y: hidden;
                }

                .widget-chat_table-head {
                    display: flex;
                    height: 60px;
                    background-color: $lightBlueGradientFrom;

                    @include media('d-only') {
                        max-width: 1215px;
                        height: 64px;
                        border: 1px solid rgba(0, 33, 95, 0.05);
                    }

                    .widget-table_head-item {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 700;
                        color: $mainDarkBlue;

                        @include media('d-only') {
                            font-size: 16px;
                            line-height: 29px;
                        }
                    }
                }

                .mod-invoice {
                    padding: 0 0 0 12px;
                    justify-content: flex-start;
                    flex: 1;
                    min-width: 78px;

                    & > span {
                        width: 90px;
                        flex-shrink: 0;
                        line-height: normal;
                    }

                    @include media('d-only') {
                        min-width: 165px;
                        padding: 0 0 0 20px;
                    }
                }

                .mod-transaction {
                    width: 220px;
                    padding: 0 20px;

                }

                .mod-price {
                    width: 200px;
                    padding: 0 20px;
                }

                .mod-date {
                    min-width: 86px;
                    padding: 0 0 0 12px;

                    @include media('d-only') {
                        padding: 0 20px;
                        width: 150px;
                    }
                }

                .mod-fiscal {
                    width: 50px;
                    padding: 0 6px;
                    justify-content: center;

                    @include media('d-only') {
                        padding: 0 20px;
                        width: 107px;
                    }
                }

                .mod-payment {
                    width: 150px;
                    padding: 0 20px;
                    justify-content: center;
                }

                .mod-download {
                    width: 53px;
                    padding: 0;
                    justify-content: center;
                }

                .widget-chat_table-content {
                    background: $white;
                    border: 1px solid #E3ECF5;
                    border-top: none;
                    border-bottom: none;

                    @include media('d-only') {
                        max-width: 1215px;
                        box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);
                        border: 1px solid rgba(0, 33, 95, 0.05);
                    }
                }

                .widget-chat_table-row {
                    position: relative;
                }

                .widget-chat_table-row-cells {
                    position: relative;
                    display: flex;

                    height: 40px;
                    border-bottom: 1px solid $inputBorder;

                    &:not(:first-of-type) {
                        border-bottom: none;
                    }

                    @include media('d-only') {
                        height: 76px;
                    }
                }

                .widget-table_item {
                    display: flex;
                    align-items: center;
                    height: 40px;
                    font-size: 12px;
                    line-height: 14px;
                    color: $mainDarkBlue;
                    font-weight: 500;
                    word-break: break-word;
                    overflow: hidden;
                    flex-shrink: 0;

                    &.mod-add_btn, &.mod-name {
                        border-right: 1px solid $inputBorder;
                    }


                    @include media('d-only') {
                        height: 76px;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 400;

                        &:not(:last-of-type) {
                            border-right: 1px solid $inputBorder;
                        }
                    }
                }

                .widget-table_head-item, .widget-table_item {
                    &.mod-add_btn {
                        width: 40px;
                        justify-content: center;
                        cursor: pointer;
                        @include media('d-only') {
                            display: none;
                        }
                    }

                    &.mod-desktop {
                        display: none;

                        @include media('d-only') {
                            display: flex;
                        }
                    }
                }

                .mod-add_btn-icon {
                    width: 18px;
                    height: 18px;
                    fill: $mainDarkBlue;
                }

                .widget-table_icon-download{
                    width: 14px;
                    height: 14px;
                    fill: $widgetTableCross;
                    cursor: pointer;
                }
            }

            .widget-table_list {

            }

            .widget-table_list-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                height: 50px;
                font-size: 14px;
                color: $mainDarkBlue;
                border-bottom: 1px solid $inputBorder;
                padding: 0 13px;

                &.mod_center {
                    justify-content: center;
                    cursor: pointer;

                    .widget-table_list-title {
                        height: 19px;
                        font-weight: 600;
                    }
                }

                .widget-table_list-title {
                    font-weight: 700;
                }

                .widget-table_list-val {
                    font-weight: 500;
                }

                .widget-table_list-icon {
                    width: 13px;
                    height: 13px;
                    fill: $mainDarkBlue;
                    margin-right: 8px;
                }
            }

        }
    }
}
