@import '@/app';

.landing-footer-menu {
    max-width: 1650px;
    margin: 0 auto;
    padding: 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $landingFooterMenu;

    @include media('d-only') {
        padding: 29px 32px;
        justify-content: space-between;
        flex-direction: row;
    }


    .logo {
        display: none;

        @include media('d-only') {
            display: block;
        }

        &.landingClass {
            margin-right: 110px;
        }
    }

    .landing-menu_nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 51px;

        @include media('d-only') {
            flex-direction: row;
            margin-bottom: 0;
        }
    }

    .landing-menu_item {
        list-style-type: none;
        text-transform: uppercase;
        padding: 2px 0;
        color: $mainDarkBlue;
        cursor: pointer;
        margin-bottom: 25px;

        &:not(:last-of-type) {
            margin-bottom: 42px;
        }

        @include media('d-only') {
            margin: 0 20px;
            padding: 5px 0;
            color: $landingMenuNav;

            &:not(:last-of-type) {
                margin-bottom: 0;
            }
        }
    }

    .landing-menu_socials {
        display: none;

        @include media('d-only') {
            display: block;
            font-size: 0;
            margin-right: -10px;
        }

        .landing-footer_soc {
            width: 32px;
            height: 32px;
            fill: $widgetActiveBlue;
            margin: 0 10px;
            cursor: pointer;
        }
    }

    .landing-menu_icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 223px;

        @include media("d-only") {
            display: none;
        }

        .landing-menu_icon {
            width: 21px;
            height: 16px;
            fill: $widgetActiveBlue;
            cursor: pointer;
        }

        .landing-footer_block{
            font-size: 0;
            cursor: pointer;
        }

        .landing-footer_text {
            color: $widgetActiveBlue;
            font-size: 16px;
            font-weight: 600;
            margin-right: 10px;
        }

        .landing-footer_icon {
            width: 12px;
            height: 7px;
            fill: $widgetActiveBlue;
        }
    }
}






