@import '@/app';

.widget-chat {

    .widget_container {
        max-width: 1625px;
        padding: 54px 41px 0 38px;
    }

    .cabinet-page_title {
        margin-bottom: 32px;
    }

    .widget-button {
        width: 141px;
    }

    .widget-chat_block {

        &.mod-border {
            padding-bottom: 54px;
            margin-bottom: 54px;
            border-bottom: 1px solid $widgetInstallBorder;
        }
    }


    .widget-chat_socials {
        display: flex;
        align-items: center;
        margin: 0 -18px -38px;
        flex-wrap: wrap;

        .widget-chat_soc {
            width: 188px;
            height: 240px;

            margin: 0 18px 38px;

            border: 1px solid rgba(0, 33, 95, 0.05);
            box-shadow: 0 3px 8px 0 rgba(0, 33, 95, 0.04);
        }

        .widget-soc_head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 104px;
            border-bottom: 1px solid $widgetElemBorder;

            .widget-soc_icon{
                width: 36px;
                height: 36px;
                fill: $white;
                margin-bottom: 12px;
            }

            .widget-soc_name{
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                color: $white;
            }



            &.mod-chat {
                background: $brownChatSettings;
            }

            &.mod-messenger {
                background: $blueChatSettingsMessenger;
            }

            &.mod-telegram {
                background: $blueChatSettingsTelegram;
            }

            &.mod-vk {
                background: $blueChatSettingsVK;
            }

            &.mod-viber {
                background: $chatSettingsViber;
            }

            &.mod-whatsapp {
                background: $chatWhatsupSettings;
            }

            &.mod-email {
                background: $chatEmailSettings;
            }
        }
    }
}
