@import '@/app';

.widget-chat {

    .widget_container {
        max-width: 1625px;
        padding: 39px 17px 0 17px;

        @include media('t-ipad') {
            padding: 54px 41px 0 38px;
        }
    }

    .cabinet-page_title {
        margin-bottom: 32px;
    }

    .widget-button {
        width: 141px;
    }

    .widget-chat_block {


        &.mod-border {
            padding-bottom: 38px;
            margin-bottom: 38px;
            border-bottom: 1px solid $widgetInstallBorder;

            @include media('t-ipad-landscape') {
                padding-bottom: 54px;
                margin-bottom: 54px;
            }
        }
    }


    .widget-socials {
        display: flex;
        align-items: center;
        margin-bottom: -38px;
        flex-direction: column;

        @include media('t-ipad-landscape') {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 -18px -38px;
        }


        .widget-soc_item {
            margin-bottom: 38px;

            @include media('t-ipad-landscape') {
                margin: 0 18px 38px;
            }

            .widget-soc {
                position: relative;
                display: flex;
                width: 286px;
                height: 104px;
                border: 1px solid $widgetElemBorder;


                @include media('t-ipad-landscape') {
                    display: block;
                    width: 188px;
                    height: 240px;

                    border: 1px solid rgba(0, 33, 95, 0.05);
                    box-shadow: 0 3px 8px 0 rgba(0, 33, 95, 0.04);
                }


                @include media('t-ipad-landscape') {
                    margin-bottom: 98px;
                }

                &.mod_message {
                    margin-bottom: 24px;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: -25px;
                        transform: translateX(-50%);
                        display: block;
                        width: 1px;
                        height: 24px;
                        background: $widgetElemBorder;
                    }

                    @include media("t-ipad-landscape") {
                        margin-bottom: 57px;

                        &:after {
                            content: "";
                            position: absolute;
                            left: 50%;
                            bottom: -58px;
                            transform: translateX(-50%);
                            display: block;
                            width: 1px;
                            height: 57px;
                            background: $widgetElemBorder;
                        }
                    }
                }
            }
        }

        .widget-soc_head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;

            border-right: 1px solid $widgetElemBorder;


            @include media("t-ipad-landscape") {
                height: 104px;
                width: 100%;
                border-bottom: 1px solid $widgetElemBorder;
            }

            .widget-soc_icon {
                width: 36px;
                height: 36px;
                fill: $white;
                margin-bottom: 12px;
            }

            .widget-soc_name {
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                color: $white;
            }

        }


        .mod-chat {
            background: $brownChatSettings;
        }

        .mod-messenger {
            background: $blueChatSettingsMessenger;
        }

        .mod-telegram {
            background: $blueChatSettingsTelegram;
        }

        .mod-vk {
            background: $blueChatSettingsVK;
        }

        .mod-viber {
            background: $chatSettingsViber;
        }

        .mod-whatsapp {

            background: $chatWhatsupSettings;
        }

        .mod-email {
            background: $chatEmailSettings;
        }


        .widget-soc_content {
            width: 50%;
            padding: 13px 10px;

            @include media("t-ipad-landscape") {
                width: 100%;
                height: 134px;
                display: flex;
                align-items: center;

                padding: 0 15px;
            }


            .widget-soc_text {
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                text-align: center;
                color: $mainDarkBlue;

                @include media('t-ipad-landscape') {
                    font-size: 16px;
                    font-weight: 400;
                }


            }
        }

        .widget-soc_message {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 188px;
            height: 41px;

            font-size: 14px;
            font-weight: 600;
            line-height: 26px;

            border: 1px solid $widgetChatBorderMessage;
            box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);
            border-radius: 8px;

            margin: 0 auto;

            @include media('t-ipad-landscape') {
                font-size: 17px;
                font-weight: 500;
                line-height: 30px;
            }

            .widget-soc_text-active {
                color: $white;

                @include media('t-ipad-landscape') {
                    text-transform: uppercase;
                }
            }

            &.mod-connect {
                background-color: $widgetBackgroundMobi;
                box-shadow: 0 3px 8px rgb(248, 251, 253);

                @include media('t-ipad-landscape') {
                    background-color: $white;
                    border: 1px solid $widgetElemBorder;
                    box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);
                }

                .widget-soc_text-connect {
                    color: $mainDarkBlue;

                    @include media('t-ipad-landscape') {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }


    .widget-chat_table {
        margin-bottom: 44px;

        .widget-chat_table-head {
            display: flex;
            border: 1px solid rgba(0, 33, 95, 0.05);

            height: 64px;
            background-color: $lightBlueGradientFrom;


            .widget-table_head-item {
                font-size: 16px;
                line-height: 29px;
                color: $mainDarkBlue;
                font-weight: 700;
                display: flex;
                align-items: center;
            }

        }

        .mod-name {
            width: 290px;
            padding: 0 62px 0 41px;
            justify-content: space-between;
        }

        .mod-email {
            width: 220px;
            padding: 0 20px;
        }

        .mod-phone {
            width: 200px;
            padding: 0 20px;
        }


        .mod-id {
            width: 150px;
            padding: 0 20px;
        }


        .mod-settings {
            width: 107px;
            padding: 0 20px;
            justify-content: center;
        }


        .mod-state {
            width: 150px;
            padding: 0 20px;
            justify-content: center;
        }


        .mod-date {
            width: 187px;
            padding: 0 20px;
        }

        .mod-chat {
            width: 186px;
            padding: 0 20px;
            justify-content: center;

        }

        .mod-cross {
            width: 53px;
            padding: 0;
            justify-content: center;
        }

        .widget-chat_table-content {
            box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);
            background: $white;
            border: 1px solid rgba(0, 33, 95, 0.05);
        }

        .widget-chat_table-string {
            display: flex;

            height: 76px;
            border-bottom: 1px solid $inputBorder;

            &:not(:first-of-type) {
                border-bottom: none;
            }
        }

        .widget-table_item {
            display: flex;
            align-items: center;
            height: 76px;
            font-size: 16px;
            line-height: 28px;
            color: $mainDarkBlue;
            font-weight: 400;

            &:not(:last-of-type) {
                border-right: 1px solid $inputBorder;
            }

            .widget-table_icon-settings {
                width: 18px;
                height: 18px;
                fill: $mainDarkBlue;
                cursor: pointer;
            }

            .widget-table_icon-cross {
                width: 14px;
                height: 14px;
                fill: $widgetTableCross;
                cursor: pointer;
            }

            .widget-chat_image {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid $widgetSidebarBorder;
            }
        }

        .table-item_state {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 109px;
            height: 40px;
            color: $white;

            &.offline {
                background-color: $widgetOffline;
                border: 1px solid $widgetOfflineBoder;
            }

            &.online {
                background-color: $widgetOnline;
                border: 1px solid $widgetOnlineBorder;
            }
        }


        .table-item_chat {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 145px;
            height: 40px;
            background-color: $lightBlueGradientFrom;
            border: 1px solid $widgetSidebarBorder;

            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            color: $mainDarkBlue;

            .table-item_chat-icon {
                width: 16px;
                height: 14px;
                fill: $widgetActiveBlue;
                margin-right: 6px;
            }
        }
    }
}
