@import '@/app';

.widget-sms {

    .widget_container {
        max-width: 1625px;
        padding: 39px 17px 0;

        @include media('d-only') {
            padding: 54px 45px 0 38px;

        }

        .cabinet-page_title {
            margin-bottom: 7px;

            @include media('d-only') {
                margin-bottom: 9px;
            }
        }

        .mod_sender {
            margin-bottom: 6px;
        }

        .mod_schemes {
            margin-bottom: 24px;
        }

        @include media('d-only') {

            .mod_sender {
                margin-bottom: 24px;
            }

            .mod_schemes {
                margin-bottom: 32px;
            }
        }

    }


    .widget-sms_informative {

    }

    .widget-sms_sender {

    }

    .widget-sms_schemes {

        .widget-sms_table {

            @include media('d-only') {
                overflow-x: auto;
                overflow-y: hidden;
            }

            .billing-invoice_table-head {
                display: flex;
                height: 60px;
                background-color: $lightBlueGradientFrom;

                @include media('d-only') {
                    min-width: 1500px;
                    height: 64px;
                    border: 1px solid rgba(0, 33, 95, 0.05);
                }

                .billing-table_head-item {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 700;
                    color: $mainDarkBlue;

                    @include media('d-only') {
                        font-size: 16px;
                        line-height: 29px;
                    }
                }
            }

            .mod-invoice {
                padding: 0 0 0 12px;
                justify-content: flex-start;
                flex: 1;
                min-width: 78px;

                & > span {
                    flex-shrink: 0;
                    line-height: normal;
                }

                @include media('d-only') {
                    min-width: 165px;
                    padding: 0 0 0 20px;
                }
            }

            .mod-transaction {
                width: 203px;
                padding: 0 20px;

            }

            .mod-price {
                justify-content: center;
                width: 107px;
                padding: 0 20px;
            }

            .mod-download {
                width: 39px;
                padding: 0;
                justify-content: center;

                @include media('d-only') {
                    width: 87px;
                }
            }

            .billing-invoice_table-content {
                background: $white;
                border: 1px solid #E3ECF5;
                border-top: none;
                border-bottom: none;

                @include media('d-only') {
                    min-width: 1500px;
                    box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);
                    border: 1px solid rgba(0, 33, 95, 0.05);
                }
            }

            .billing-invoice_table-row {
                position: relative;
            }

            .billing-invoice_table-row-cells {
                position: relative;
                display: flex;

                height: 40px;
                border-bottom: 1px solid $inputBorder;

                &:not(:first-of-type) {
                    border-bottom: none;
                }

                @include media('d-only') {
                    height: 76px;
                }
            }

            .billing-table_item {
                display: flex;
                align-items: center;
                height: 250px;
                font-size: 12px;
                line-height: 14px;
                color: $mainDarkBlue;
                font-weight: 500;
                word-break: break-word;
                overflow: hidden;
                flex-shrink: 0;

                &.mod-add_btn, &.mod-invoice, &.mod-date {
                    border-right: 1px solid $inputBorder;
                }


                @include media('d-only') {
                    height: 260px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;

                    &:not(:last-of-type) {
                        border-right: 1px solid $inputBorder;
                    }
                }
            }

            .billing-table_head-item, .billing-table_item {
                &.mod-add_btn {
                    width: 40px;
                    justify-content: center;
                    cursor: pointer;
                    @include media('d-only') {
                        display: none;
                    }
                }

                &.mod-desktop {
                    display: none;

                    @include media('d-only') {
                        display: flex;
                    }
                }
            }

            .mod-add_btn-icon {
                width: 18px;
                height: 18px;
                fill: $mainDarkBlue;
            }

            .billing-table_icon-download {
                width: 14px;
                height: 14px;
                fill: $widgetActiveBlue;
                cursor: pointer;

                @include media('d-only') {
                    width: 19px;
                    height: 20px;
                }
            }
        }

    }
}
