@import '@/app';

.widget-sms {

    .widget_container {
        max-width: 1625px;
        padding: 39px 17px 0;

        @include media('d-only') {
            padding: 54px 45px 0 38px;

        }

        .cabinet-page_title {
            margin-bottom: 7px;

            @include media('d-only') {
                margin-bottom: 9px;
            }
        }

        .mod_sender {
            margin-bottom: 6px;
        }

        .mod_schemes {
            margin-bottom: 24px;
        }

        @include media('d-only') {

            .mod_sender {
                margin-bottom: 24px;
            }

            .mod_schemes {
                margin-bottom: 32px;
            }
        }

        .widget-button {
            margin: 0 auto;

            @include media('d-only') {
                margin: 0 0 0 25px;
            }
        }

        .widget-sms_subtitle {
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            color: $widgetDeactivateLink;
            margin-left: 25px;


            @include media('d-only') {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
            }
        }
    }

    .widget-sms_informative {
        padding-bottom: 38px;
        border-bottom: 1px solid $widgetInstallBorder;
        margin-bottom: 38px;

        .widget-sms_subtitle {
            margin-bottom: 18px;
        }

        @include media('d-only') {
            padding-bottom: 44px;
            margin-bottom: 57px;

            .widget-sms_subtitle {
                margin-bottom: 37px;
            }
        }

        .widget-sms-input {
            width: 286px;
            height: 85px;
            background-color: rgba(239, 248, 253, 0.14);
            border: 1px solid $widgetSidebarBorder;
            border-radius: 8px;
            margin: 0 auto;
            padding: 20px 15px;
            margin-bottom: 30px;

            @include media('d-only') {
                display: flex;
                align-items: center;
                width: auto;
                height: auto;
                background: none;
                border: none;
                margin: 0;
                padding: 0;
                margin-bottom: 26px;
            }

            .swift-widget_flagPhone {
                width: 255px !important;
                height: 45px;
                margin: 0 auto;

                .swift-widget_flagPhone-input {
                    height: 45px;
                }

                @include media('d-only') {
                    width: 264px !important;
                    height: 49px;
                    margin-left: 25px;

                    .swift-widget_flagPhone-input {
                        height: 49px;
                    }
                }
            }
        }

        .widget-add_button {
            margin-bottom: 18px;

            @include media('d-only') {
                width: 412px;
                height: 57px;
                background-color: $lightBlueGradientFrom;
                border-radius: 8px;
                margin: 0 0 37px 25px;

                .widget-add_text {
                    font-size: 16px;
                    text-transform: none;
                }

                .widget-add_icon {
                    width: 18px;
                    height: 18px;
                    margin-right: 9px;
                }
            }
        }
    }

    .widget-sms_sender {
        padding-bottom: 38px;
        border-bottom: 1px solid $widgetInstallBorder;
        margin-bottom: 38px;

        @include media ("d-only") {
            padding-bottom: 46px;
            margin-bottom: 46px;
        }


        .widget-sms_switch {
            display: flex;
            font-size: 14px;
            font-weight: 400;
            color: $mainDarkBlue;
            margin-left: 25px;
            margin-bottom: 38px;

            @include media('d-only') {
                margin-bottom: 17px;
            }

            .el-switch {
                margin: 0 17px;
            }
        }

        .widget-sms_subtitle {
            display: none;
            @include media ("d-only") {
                display: block;
                margin-bottom: 49px;
            }

            &.mod_mobile {
                display: block;
                margin-bottom: 22px;

                @include media ("d-only") {
                    display: none;
                }
            }

            &.mod_display {
                display: block;
                margin-bottom: 18px;

                @include media('d-only') {
                    margin-bottom: 24px;
                }
            }
        }

        .widget-sender_input {
            margin-bottom: 6px;

            @include media ("t-ipad") {
                width: 286px;
                margin: 0 auto 6px;
            }

            @include media ("d-only") {
                margin-left: 25px;
                width: auto;
                margin-bottom: 12px;
            }


            .widget-sms_input_title {
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                margin-bottom: 10px;
                color: $mainDarkBlue;

                @include media('d-only') {
                    font-size: 16px;
                    line-height: 28px;
                    color: $widgetInputTitle;
                    margin-bottom: 8px;
                }
            }

            .widget-input {
                width: 100%;

                @include media("d-only") {
                    width: 605px;
                }

                &::placeholder {
                    color: $widgetPlaceholder;

                    @include media("d-only") {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .widget-sms_schemes {

        .widget-sms_table {

            @include media('d-only') {
                overflow-x: auto;
                overflow-y: hidden;
            }

            .widget-sms_table-head {
                display: flex;
                height: 60px;
                background-color: $lightBlueGradientFrom;

                @include media('d-only') {
                    min-width: 1500px;
                    height: 64px;
                    border: 1px solid rgba(0, 33, 95, 0.05);
                }

                .widget-table_head-item {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 700;
                    color: $mainDarkBlue;

                    @include media('d-only') {
                        font-size: 16px;
                        line-height: 29px;
                    }
                }
            }

            .mod-message {
                padding: 0 0 0 12px;
                justify-content: flex-start;
                min-width: 78px;

                & > span {
                    flex-shrink: 0;
                    line-height: normal;
                }

                @include media('d-only') {
                    min-width: 25%;
                    padding: 0 0 0 20px;
                }
            }

            .mod-context {
                width: 50%;
                padding: 0 20px;
            }

            .mod-description {
                width: 50%;
                padding: 0 20px;
            }

            .mod_switch {
                justify-content: center;

                @include media('d-only') {
                    width: 130px;
                }
            }

            .widget-sms_table-content {
                background: $white;
                border: 1px solid #E3ECF5;
                border-top: none;
                border-bottom: none;

                @include media('d-only') {
                    min-width: 1500px;
                    box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);
                    border: 1px solid rgba(0, 33, 95, 0.05);
                }
            }

            .widget-sms_table-row {
                position: relative;
            }

            .widget-sms_table-row-cells {
                position: relative;
                display: flex;

                height: 40px;
                border-bottom: 1px solid $inputBorder;

                &:not(:first-of-type) {
                    border-bottom: none;
                }

                @include media('d-only') {
                    height: 76px;
                }
            }

            .billing-table_item {
                display: flex;
                align-items: center;
                height: 250px;
                font-size: 12px;
                line-height: 14px;
                color: $mainDarkBlue;
                font-weight: 500;
                word-break: break-word;
                overflow: hidden;
                flex-shrink: 0;

                &.mod-add_btn, &.mod-invoice, &.mod-date {
                    border-right: 1px solid $inputBorder;
                }


                @include media('d-only') {
                    height: 260px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;

                    &:not(:last-of-type) {
                        border-right: 1px solid $inputBorder;
                    }
                }
            }

            .billing-table_head-item, .billing-table_item {
                &.mod-add_btn {
                    width: 40px;
                    justify-content: center;
                    cursor: pointer;
                    @include media('d-only') {
                        display: none;
                    }
                }

                &.mod-desktop {
                    display: none;

                    @include media('d-only') {
                        display: flex;
                    }
                }
            }

            .mod-add_btn-icon {
                width: 18px;
                height: 18px;
                fill: $mainDarkBlue;
            }

            .billing-table_icon-download {
                width: 14px;
                height: 14px;
                fill: $widgetActiveBlue;
                cursor: pointer;

                @include media('d-only') {
                    width: 19px;
                    height: 20px;
                }
            }
        }


    }
}
