.cabinet {
    position: relative;
    background-color: $widgetBackgroundMobi;

    @include media('d-only') {
        background-color: $white;
        height: 100vh;
    }
}

.cabinet_page {
    padding-top: 85px;

    @include media("d-only") {
        position: absolute;
        top: 64px;
        left: 295px;
        padding-top: 0;
    }
}


