.cabinet {
    position: relative;

    height: 100vh;
    background-color: $widgetBackgroundMobi;

    @include media('d-only') {
        background-color: $white;
    }
}

.cabinet_page {
    position: absolute;
    left: 295px;
    top: 64px;
    bottom: 0;
    right: 0;
}


