@import '@/app';

.cabinet-sidebar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;
    background-color: $landingHeaderbackground;

    @include media('d-only') {
        width: 295px;
        height: 100vh;
    }

    .hamburger {
        position: relative;

        &.hamburger--slider.is-active {
            .hamburger-inner::after {
                transform: translate3d(0, -12px, 0) rotate(-90deg);
            }

            .hamburger-inner {
                transform: translate3d(0, 3px, 0) rotate(45deg);
            }
        }

        .hamburger-inner {
            width: 26px;
            height: 2px;
            background-color: $widgetActiveBlue;
            border-radius: 1px;

            top: 3px;

            &:before {
                top: 6px;
            }

            &:after {
                top: 12px;
            }

            &:before, &:after {
                width: 26px;
                height: 2px;
                background-color: $widgetActiveBlue;
                border-radius: 1px;
            }
        }

        .hamburger-box {
            width: 26px;
            height: 14px;
        }

        @include media('d-only') {
            display: none;
        }
    }

    .landing-mobile_menu {
        background-color: $landingHeaderbackground;
    }

    &.open-menu {
        .cabinet-sidebar_content {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 8px;
                right: 8px;
                height: 1px;
                background: #E0F1FA;
            }
        }

        .cabinet-header_notify {
            visibility: hidden;
            opacity: 0;
        }
    }

    .cabinet-sidebar_content {
        display: flex;
        align-items: center;
        padding: 23px 16px 20px 16px;
        justify-content: space-between;
        transition: all 0.1s linear;

        @include media('d-only') {
            display: block;
            padding: 37px 0 35px 0;
            height: 100vh;
        }

        .header-hamburger {
            position: relative;
            width: 26px;
            height: 14px;
            cursor: pointer;

            @include media('d-only') {
                display: none;
            }

            .header-hamburger_item {
                width: 26px;
                height: 2px;
                position: absolute;
                background-color: $widgetActiveBlue;
                border-radius: 1px;

                &.top {
                    top: 0;
                }

                &.middle {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.bottom {
                    bottom: 0;
                }
            }

            @include media('d-only') {
                display: none;
            }
        }

        .logo {

            &.landingClass {
                @include media('d-only') {
                    padding-bottom: 36px;
                    border-bottom: 1px solid $widgetSidebarBorder;
                    margin-bottom: 37px;
                }
            }
        }

        .cabinet-header_notify {
            display: block;

            @include media("d-only") {
                display: none;
            }
        }
    }

    .cabinet-sidebar_person {
        display: none;
        position: relative;
        text-align: center;
        color: $mainDarkBlue;
        font-size: 0;
        margin-bottom: 41px;
        cursor: pointer;

        @include media('d-only') {
            display: block;
        }

        .sidebar-person_image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 17px;
        }

        .sidebar-person_name {
            font-family: Mont, sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.mod_rotate {
                .sidebar-person_icon {
                    transform: rotate(180deg);
                }
            }
        }

        .sidebar-person_icon {
            width: 12px;
            height: 8px;
            fill: $mainDarkBlue;
            stroke: $mainDarkBlue;
            margin-left: 12px;
        }

        .sidebar-person_menu {
            position: absolute;
            width: 264px;
            height: 183px;
            border-radius: 8px;
            background-color: $white;
            box-shadow: 0 3px 12px rgba(0, 33, 95, 0.21);
            padding: 27px 44px;
            z-index: 3;
            top: 147px;
            left: 50%;
            transform: translateX(-50%);


            .sidebar-person_menu-wrap {
                margin-bottom: 20px;
                border-bottom: 1px solid $widgetInstallBorder;
            }


            .sidebar-person_menu-item {
                display: flex;

                padding-bottom: 18px;
            }

            .sidebar-person_menu-icon {
                width: 23px;
                height: 23px;
                fill: $mainDarkBlue;
                margin-right: 24px;
            }

            .sidebar-person_menu-text {
                height: 23px;
                font-size: 16px;
                line-height: 27px;
                font-weight: 350;
                color: $mainDarkBlue;
            }
        }
    }


    .cabinet-sidebar_menu {
        display: none;

        @include media('d-only') {
            display: flex;
            flex-direction: column;
        }

        &.mod_mobile {
            display: flex;
            flex-direction: column;

            .cabinet-sidebar_person {
                display: block;

                margin-bottom: 14px;
            }

            .cabinet-sidebar_item {
                margin-right: 18px;
                margin-left: 18px;
                border-radius: 17px;

                &.router-link-active {
                    .cabinet-sidebar_item-square {
                        display: none;
                    }
                }
            }
        }

        .cabinet-sidebar_item-square {
            display: none;
            position: absolute;
            right: 0;

            overflow: hidden;

            width: 17px;
            height: 17px;

            background: $white;

            &:before {
                content: '';
                position: absolute;
                background: #EFF8FD;
                width: 34px;
                height: 34px;
                border-radius: 50%;
            }

            &.top {
                top: -17px;

                &:before {
                    top: -17px;
                    left: -17px;
                }
            }

            &.bottom {
                bottom: -17px;

                &:before {
                    bottom: -17px;
                    left: -17px;
                }
            }
        }

        .cabinet-sidebar_item {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 11px;
            height: 65px;
            cursor: pointer;
            text-decoration: none;

            &.router-link-active {
                background: white;
                border-top-left-radius: 17px;
                border-bottom-left-radius: 17px;

                .cabinet-sidebar_item-square {
                    display: block;
                }


                .sidebar-menu_icon {
                    fill: $mainDarkBlue;
                }

                .sidebar-menu_name {
                    color: $mainDarkBlue;
                }
            }


            .sidebar-menu_icon {
                width: 23px;
                height: 23px;
                fill: $widgetMenuPassive;
                margin-left: 27px;
                margin-right: 24px;
            }

            .sidebar-menu_name {
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                color: $widgetMenuPassive;
            }
        }
    }

    .sidebar-copyright {
        display: none;

        @include media('d-only') {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 205px;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;
            color: $widgetMenuPassive;

        }
    }
}


