@import '@/app';

.settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 295px);
    max-width: 1625px;
    height: calc(100% - 64px);

    @include media ('m-t-only') {
        position: relative;
        width: 100%;
        flex-direction: column;
        //padding: 0 5.3% 0;
        overflow: hidden;
    }

    &_nav {
        display: none;
        justify-content: center;
        padding: 54px 2.3% 58px;

        @include media('d-1400-only') {
            padding: 24px 2.3% 28px;
        }

        @include media('d') {
            display: flex;
        }
    }
}

.settings_navMobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 39px 17px 35px;

    @include media('d') {
        display: none;
    }
}

.settings_nav-item {
    @extend %lightBlueGradient;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 26.5%;
    height: 49px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: $mainDarkBlue;
    fill: $mainDarkBlue;
    cursor: pointer;

    &:first-of-type {
        padding-left: 1.9%
    }

    &:not(:first-of-type) {
        margin-left: -2.25%;
        padding-left: 4.1%
    }

    @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
            z-index: 4 - $i + 1;
        }
    }

    &.mod_active {
        @extend %blueGradient;
        color: $white;
        fill: $white;
        cursor: default;
    }

    &.mod_mobile {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding-left: 21px;
        border-radius: 8px;
    }

    &.mod_select {
        position: relative;
        cursor: pointer;

        &::after {
            content: url('/img/icons/arrow.svg');
            position: absolute;
            width: 10px;
            height: 5px;
            right: 16px;
            top: 13px;
        }
    }

    &.mod_option {
        border-radius: 0;
        border-bottom: 1px solid #E3ECF5;
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease;
    }

    &.mod_open {
        height: 49px;
        visibility: visible;
        opacity: 1;
        font-size: 16px;
    }

    &.mod_selected {
        background: $white;
    }

    .nav-item_svg {
        width: 14px;
        height: 14px;
        margin-right: 7px;
    }

    .nav-item_text {
        height: 20px;
        font-size: 16px;
        font-weight: 400;

    }
}

