%blueGradient {
    background-image: linear-gradient(to right bottom, $blueGradientFrom, $blueGradientTo);
}

%brownGradient {
    background-image: linear-gradient(to right bottom, $brownGradientFrom, $brownGradientTo);
}

%greenGradient {
    background-image: linear-gradient(to right bottom, $greenGradientFrom, $greenGradientTo);
}

