%blueGradient {
    background-image: linear-gradient(to right bottom, $blueGradientFrom, $blueGradientTo);
}


%lightBlueGradient {
    background-image: linear-gradient(to right, $lightBlueGradientFrom, $lightBlueGradientTo);
}


%brownGradient {
    background-image: linear-gradient(to right bottom, $brownGradientFrom, $brownGradientTo);
}

%greenGradient {
    background-image: linear-gradient(to right bottom, $greenGradientFrom, $greenGradientTo);
}

%swift-widget-input {
    width: 68%;
    background: $white;
    border: 1px solid #E3ECF5;
    border-radius: 8px;
}

