//  Colors
//     Blue
$mainDarkBlue: #00215F;
$mainLightBlue: #8D9CB7;

$blueGradientFrom: #214995;
$blueGradientTo: #002262;

$widgetActiveBlue: #4C638F; // some buttons and messages on widget

$diagramBlue: #37455F; // some background on diagrams
$widgetMenuPassive: #9AC2D8;
$blueChatManager: #0084FF;
$blueChatSettingsTelegram: #0088CC;
$blueChatVK: #4C75A3;
$chatViber: #7D3DAF;


//     Brown
$brownGradientFrom: #D9B962;
$brownGradientTo: #B28509;

$headerBrown: #FAD27A;

$brownWidgetPause: #DEB87B;
$brownChat: #D6C382;


//     Green
$greenGradientFrom: #47B220;
$greenGradientTo: #157B0D;

$headerGreen: #77C55F;

$chatWhatsup: #1BD741;

//     Red
$redWidgetNot: #B94C4C;

$chatEmail: #BF2E22;






