//  Colors

$landingBackground: #F8FDFF;
$landingHeaderbackground: #EFF8FD;
$landingMenuNav: #32569A;
$landingInputPlaceholder: #C6D1E6;
$landingMainMessage: #CDE4F0;
$landingPlanBorder: #F6F8FD;
$landingPlanBackground: #FBFDFF;
$landingPlanBorderMobi: #ECEDF2;
$landingPlanLineBlue: #1D458F;
$landingPlanLineGreen: #40AB1D;
$landingPlanLineBrown: #D6B55B;
$landingFooterMenu: #F4FBFD;

$widgetHeaderBackground:#F8FCFE;
$widgetBackgroundMobi:#F8FBFD;
$widgetHeaderLine:#D1D9E5;
$widgetHeaderBtnBackground:#E9EFFE;
$widgetHeaderBtnOrange:#FAD27A;
$widgerHeaderIconElem:#3051A5;
$widgetSidebarBorder:#E0F1FA;


//     Blue
$mainDarkBlue: #00215F;
$mainLightBlue: #8D9CB7;

$inputBorder: #E3ECF5;

$blueGradientFrom: #214995;
$blueGradientTo: #002262;

$widgetActiveBlue: #4C638F; // some buttons and messages on widget
$widgetMenuPassive: #9AC2D8;

$diagramBlue: #37455F; // some background on diagrams
$blueChatSettingsMessenger: #0084FF;
$blueChatMessenger: #0080FF;
$blueChatSettingsTelegram: #0088CC;
$blueChatTelegram: #0087CF;
$blueChatSettingsVK: #4C75A3;
$blueChatVK: #4A74A5;
$chatSettingsViber: #7D3DAF;
$chatViber: #7E37B1;


//     Brown
$brownGradientFrom: #D9B962;
$brownGradientTo: #B28509;

$headerBrown: #FAD27A;

$brownWidgetPause: #DEB87B;
$brownChatSettings: #D6C382;
$brownChat: #D7C47E;


//     Green
$greenGradientFrom: #47B220;
$greenGradientTo: #157B0D;

$headerGreen: #77C55F;

$chatWhatsupSettings: #1BD741;
$chatWhatsup: #00D935;

// Grey
$conversationBackground: #F8F8FD;

//     Red
$redWidgetNot: #B94C4C;

$chatEmailSettings: #BF2E22;

// White
$white: #FFFFFF;

$media-expressions: (
    /**
     * Basic resolutions
     */
    // Extended media
        'm': 'all and (min-width: 1px)',
        't': 'all and (min-width: 600px)',
        'd': 'all and (min-width: 1280px)',
    // Limited media
        'm-only': '(min-width: 1px) and (max-width: 599px)',
        't-only': '(min-width: 600px) and (max-width: 1279px)',
        'd-only': '(min-width: 1280px)',
        'middle-d-only': '(min-width: 1080px)',
    // Landscape orientation
        'm-landscape': '(max-width: 767px) and (orientation: landscape)',
        't-landscape': '(min-width: 600px) and (max-width: 1280px) and (orientation: landscape)',
    /**
     * Extended resolutions
     */
    // m extended
        'm-iphone4': '(min-width: 320px)',
        'm-galaxy': '(min-width: 360px)',
        'm-iphone5': '(min-width: 375px)',
        'm-iphone6': '(min-width: 412px)',
    // t extended
        't-ipad': '(min-width: 768px)',
        't-ipad-landscape': '(min-width: 1024px)',
        't-print': 'all and (min-width: 500px)',
    // d extended
        'd-wxga': '(min-width: 1366px)',
        'd-wxgap': '(min-width: 1440px)',
        'd-phd': '(min-width: 1600px)',
        'd-fhd': '(min-width: 1920px)',
        'd-3k': '(min-width: 2560px)',
        'd-4k': '(min-width: 3840px)'
);
