@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Thin.otf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Thin Italic.otf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Light.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Light Italic.otf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Book.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Book Italic.otf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Italic.otf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Medium Italic.otf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma SemiBold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma SemiBold Italic.otf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Bold Italic.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma ExtraBold.otf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma ExtraBold Italic.otf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Heavy.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma/Kastelov - Axiforma Heavy Italic.otf') format('truetype');
    font-weight: 900;
    font-style: italic;
}







