.cabinet-header_notify {
    position: relative;
    cursor: pointer;

    &.mod_active {
        &:before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            background: $widgerHeaderIconElem;
            border-radius: 50%;
            right: -2px;
            top: 1px;
        }
    }

    .cabinet-header_icon {
        width: 18px;
        height: 23px;
        fill: $mainDarkBlue;
    }
}


.cabinet-header_notification {
    position: absolute;
    width: 280px;
    height: 350px;
    top: 100px;
    right: 0;
    margin-right: 45px;

    .cabinet-header_notification-head {
        position: relative;
        height: 56px;
        background: $white;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #747F8B;
        border-radius: 10px 10px 0 0;
        border: 0;
        border-style: solid;
        border-bottom-width: 1px;
        border-image: linear-gradient(to right, white 0%, #cedae0 40%, #cedae0 60%, white 100%) 1 20%;
        box-shadow: 0 2px 10px -2px #cedae0;
        padding: 15px;

        .triangle {
            position: absolute;
            top: -8px;
            left: 134px;
            height: 15px;
            width: 15px;
            border-radius: 6px 0 0 0;
            transform: rotate(45deg);
            background: $white;
        }
    }

    .cabinet-header_notification-content {
        width: 280px;
        height: 292px;
        background: #e9f0f3;
        overflow-y: auto;
        overflow-x: hidden;

        .cabinet-header_notification-item {
            display: flex;
            align-items: center;
            height: 73px;
            padding: 15px;
            border: 0;
            border-style: solid;
            border-bottom-width: 1px;
            border-image: linear-gradient(to right, white 0%, #cedae0 40%, #cedae0 60%, white 100%) 1 20%;

        }

        .notification-item_image {
            height: 32px;
            width: 32px;
            overflow: hidden;
            flex-shrink: 0;
            border-radius: 50%;

            & > * {
                width: 32px;
            }
        }

        .notification-item_text{
            font-size: 14px;
            color: #747F8B;
            cursor: pointer;
            word-spacing: 2px;
            line-height: 21px;
            padding-left: 15px;

            .notification-item_text-name{
                font-weight: 700;
            }
        }
    }
}

.cabinet-page_title {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: $mainDarkBlue;

    .cabinet-page_title-icon {
        width: 17px;
        height: 17px;
        fill: $mainDarkBlue;
        margin-right: 7px;
    }

    @include media('t-ipad') {
        justify-content: center;
    }

    @include media('d-only') {
        justify-content: flex-start;

        .cabinet-page_title-icon {
            flex-shrink: 0;
            margin-right: 9px;

        }
    }
}

.widget-add_button {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 255px;
    height: 45px;

    background-color: $lightBlueGradientFrom;
    border: 1px solid $widgetSidebarBorder;
    border-radius: 8px;
    cursor: pointer;

    padding: 0 30px;
    margin: 0 auto;

    @include media('d-only') {
        max-width: 399px;
        height: 56px;
        background-color: $widgetAddButton;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .widget-add_icon {
        width: 16px;
        height: 16px;
        margin-right: 9px;
        fill: $mainDarkBlue;

        @include media('d-only') {
            width: 19px;
            height: 19px;
            margin-right: 12px;
        }
    }

    .widget-add_text {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: $mainDarkBlue;
        height: 16px;


        @include media('d-only') {
            font-size: 17px;
            font-weight: 600;
            line-height: 19px;
            height: 15px;
            text-transform: uppercase;
        }
    }
}

.widget-input {
    height: 45px;
    padding: 0 20px;

    font-size: 14px;
    font-weight: 600;
    line-height: 11px;
    color: $mainDarkBlue;
    border: 1px solid $inputBorder;
    border-radius: 8px;
    background-color: $white;

    @include media("d-only") {
        width: 264px;
        height: 49px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    &::placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 11px;
        color: $inputBorder;

        @include media("d-only") {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
        }
    }
}

.cabinet_mobile-button {
    width: auto;
    height: 49px;
    justify-content: flex-start;
    margin: 40px 17px 0;

    @include media('t-ipad') {
        width: 287px;
        margin: 40px auto 0;
    }

    @include media('d-only') {
        display: none;
    }

    .cabinet_mobile-button_icon {
        width: 14px;
        height: 14px;
        stroke: $white;
        fill: $white;

        &:not(:last-of-type) {
            margin-right: 7px;
        }
    }

    .cabinet_mobile-button_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        height: 16px;
        flex: 1;
        color: $white;

    }
}

.widget-switch {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: $mainDarkBlue;

    .el-switch {
        margin: 0 17px;
    }
}

.el-switch {

    .el-switch__core {
        border: none;
        background: $lightBlueGradientFrom;
        width: 45px !important;
        height: 19px;

        &:after {
            width: 14.5px;
            height: 14.5px;
            top: 2px;
            background: $mainDarkBlue;
        }
    }

    &.is-checked {
        .el-switch__core {
            background: $mainDarkBlue;

            &:after {
                background: $lightBlueGradientFrom;
            }
        }
    }
}

.cabinet-steps {
    display: none;
    flex-wrap: wrap;
    margin-left: 24px;
    margin-bottom: 51px;

    @include media("d-only") {
        display: flex;
    }

    .cabinet-steps_item {
        @extend %lightBlueGradient;

        height: 49px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        flex: 1;

        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        padding-left: 30px;
        margin-left: -24px;

        cursor: pointer;

        &.mod_active {
            @extend %blueGradient;

            & .cabinet-steps_icon {
                fill: $white;
            }

            & .cabinet-steps_text {
                color: $white;
            }
        }

        &:not(:first-of-type) {
            padding-left: 54px;
        }

        //@for $i from 1 through 3 {
        //    &:nth-of-type(#{$i}) {
        //        z-index: 3 - $i + 1;
        //    }
        //}

        .cabinet-steps_icon {
            width: 14px;
            height: 14px;
            fill: $mainDarkBlue;
            margin-right: 7px;
        }

        .cabinet-steps_text {
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            color: $mainDarkBlue;
            height: 14px;
        }
    }
}

