.cabinet-page_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 37px;
    color: $mainDarkBlue;
    margin-bottom: 64px;

    .cabinet-page_title-icon {
        width: 17px;
        height: 17px;
        fill: $mainDarkBlue;
    }
}