.widget-input {
    width: 286px;
    height: 45px;
    padding: 0 20px;

    font-size: 14px;
    font-weight: 600;
    line-height: 11px;
    color: $mainDarkBlue;
    border: 1px solid $inputBorder;
    border-radius: 8px;
    background-color: $white;

    @include media("d-only"){
        width: 264px;
        height: 49px;

        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    &::placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 11px;
        color: $inputBorder;

        @include media("d-only"){
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
        }
    }
}

