@import '@/app';

.widget-sms {

    .widget_container {
        max-width: 1625px;
        padding: 0 17px 35px;

        @include media('d-only') {
            padding: 54px 45px 80px 38px;

        }

        .cabinet-page_title {
            margin-bottom: 7px;

            .right-icon {
                fill: $widgetCallsIcon;
                margin-left: 8px;
                cursor: pointer;
            }

            @include media('d-only') {
                margin-bottom: 9px;
            }
        }

        .mod_sender {
            position: relative;
            margin-bottom: 6px;
        }

        .mod_schemes {
            margin-bottom: 24px;
        }

        @include media('d-only') {

            .mod_sender {
                margin-bottom: 24px;
            }

            .mod_schemes {
                margin-bottom: 32px;
            }
        }

        .widget-button {
            margin: 0 auto;

            @include media('d-only') {
                margin: 0 0 0 25px;
            }
        }

        .widget-sms_subtitle {
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            color: $widgetDeactivateLink;
            margin-left: 25px;

            @include media('t-ipad') {
                text-align: center;
            }

            @include media('d-only') {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                text-align: left;
            }
        }
    }

    .widget-sms_informative {
        padding-bottom: 38px;
        border-bottom: 1px solid $widgetInstallBorder;
        margin-bottom: 38px;

        .widget-sms_subtitle {
            margin-bottom: 18px;
        }

        @include media('d-only') {
            padding-bottom: 44px;
            margin-bottom: 57px;

            .widget-sms_subtitle {
                margin-bottom: 37px;
            }
        }

        .widget-sms-input {
            width: 286px;
            height: 85px;
            background-color: rgba(239, 248, 253, 0.14);
            border: 1px solid $widgetSidebarBorder;
            border-radius: 8px;
            margin: 0 auto;
            padding: 20px 15px;
            margin-bottom: 30px;

            @include media('d-only') {
                display: flex;
                align-items: center;
                width: auto;
                height: auto;
                background: none;
                border: none;
                margin: 0;
                padding: 0;
                margin-bottom: 26px;
            }

            .swift-widget_flagPhone {
                width: 255px !important;
                height: 45px;
                margin: 0 auto;

                .swift-widget_flagPhone-input {
                    height: 45px;
                }

                @include media('d-only') {
                    width: 264px !important;
                    height: 49px;
                    margin-left: 25px;

                    .swift-widget_flagPhone-input {
                        height: 49px;
                    }
                }
            }
        }

        .widget-add_button {
            margin-bottom: 18px;

            @include media('d-only') {
                width: 412px;
                height: 57px;
                background-color: $lightBlueGradientFrom;
                border-radius: 8px;
                margin: 0 0 37px 25px;

                .widget-add_text {
                    font-size: 16px;
                    text-transform: none;
                }

                .widget-add_icon {
                    width: 18px;
                    height: 18px;
                    margin-right: 9px;
                }
            }
        }
    }

    .widget-sms_sender {
        padding-bottom: 38px;
        border-bottom: 1px solid $widgetInstallBorder;
        margin-bottom: 38px;
        position: relative;

        @include media ("d-only") {
            padding-bottom: 46px;
            margin-bottom: 46px;
        }

        .widget-sender_message {
            position: absolute;
            left: 0;
            right: 0;
            top: 26px;
            z-index: 2;

            border-radius: 9px;
            background: $diagramBlue;
            padding: 20px 25px;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: $white;

            @include media('d-only') {
                width: 326px;
                top: -40px;
                left: 240px;
                right: auto;
            }
        }


        .widget-switch {
            margin-left: 25px;
            margin-bottom: 38px;

            @include media('t-ipad') {
                justify-content: center;
            }

            @include media('d-only') {
                margin-bottom: 17px;
                justify-content: flex-start;
            }
        }

        .widget-sms_subtitle {
            display: none;
            @include media ("d-only") {
                display: block;
                margin-bottom: 49px;
            }

            &.mod_mobile {
                display: block;
                margin-bottom: 22px;

                @include media ("d-only") {
                    display: none;
                }
            }

            &.mod_display {
                display: block;
                margin-bottom: 18px;

                @include media('d-only') {
                    margin-bottom: 24px;
                }
            }
        }

        .widget-sender_input {
            margin-bottom: 6px;

            @include media ("t-ipad") {
                width: 286px;
                margin: 0 auto 6px;
            }

            @include media ("d-only") {
                margin-left: 25px;
                width: auto;
                margin-bottom: 12px;
            }


            .widget-sms_input_title {
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                margin-bottom: 10px;
                color: $mainDarkBlue;

                @include media('d-only') {
                    font-size: 16px;
                    line-height: 28px;
                    color: $widgetInputTitle;
                    margin-bottom: 8px;
                }
            }

            .widget-input {
                width: 100%;

                @include media("d-only") {
                    width: 605px;
                }

                &::placeholder {
                    color: $widgetPlaceholder;

                    @include media("d-only") {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .widget-sms_schemes {

    }

    .widget-sms_table-mobile {

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        margin-left: -17px;
        margin-right: -17px;

        .widget-sms_table-btn {
            position: absolute;
            right: 25px;

            .sms-btn_plus {
                width: 13px;
                height: 3px;
                background: $mainDarkBlue;
                border-radius: 3px;
                cursor: pointer;

                &:after {
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 13px;
                    background: $mainDarkBlue;
                    border-radius: 3px;
                    top: -5px;
                    left: 5px;
                }
            }

            .sms-btn_minus {
                width: 13px;
                height: 3px;
                background: $mainDarkBlue;
                border-radius: 3px;
                cursor: pointer;
            }
        }

        .widget-switch {
            justify-content: center;
        }

        @include media('d-only') {
            display: none;
        }
    }

    .widget-sms_table {
        display: none;

        @include media('d-only') {
            display: block;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }

    .widget-sms_table-head {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: $lightBlueGradientFrom;

        @include media('d-only') {
            min-width: 1500px;
            height: 64px;
            border: 1px solid rgba(0, 33, 95, 0.05);
            justify-content: flex-start;
        }

        .widget-table_head-item {
            font-size: 14px;
            line-height: 19px;
            font-weight: 600;
            color: $mainDarkBlue;
            margin: 0 87px 0 87px;
            text-align: center;

            @include media('d-only') {
                display: flex;
                font-size: 16px;
                font-weight: 700;
                line-height: 29px;
                margin: 0;
                text-align: left;

            }

            &.mod-context {
                padding: 0 0 0 40px;
            }
        }
    }

    .mod-message {
        padding: 21px 0;

        @include media('d-only') {
            min-width: 24%;
            padding: 0 0 0 20px;
        }
    }

    .mod-context {
        padding: 0 17px;
        @include media('d-only') {
            width: 40%;
            padding: 0 0 0 20px;
        }
    }

    .mod-description {
        padding: 0 17px;
        margin-bottom: 24px;
        @include media('d-only') {
            width: 28%;
            padding: 0 0 0 22px;
            margin-bottom: 0;
        }
    }

    .mod_switch {
        justify-content: center;
        @include media('d-only') {
            width: 130px;
        }
    }

    .widget-sms_table-content {
        background: $widgetSmsTableBackground;

        @include media('d-only') {
            background: $white;
            min-width: 1500px;
            box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);
            border: 1px solid rgba(0, 33, 95, 0.05);
        }
    }

    .widget-sms_table-row {
        position: relative;
    }

    .widget-sms_table-row-cells {

        @include media('d-only') {
            position: relative;
            display: flex;
            height: 250px;
            border-bottom: 1px solid $inputBorder;
        }
    }

    .widget-table_item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $mainDarkBlue;
        word-break: break-word;
        overflow: hidden;

        &.mod-message {
            font-size: 14px;
            line-height: 26px;
            font-weight: 600;

        }

        @include media('d-only') {
            height: 250px;
            font-size: 16px;

            &:not(:last-of-type) {
                border-right: 1px solid $inputBorder;
            }

            &.mod-message {
                font-size: 16px;
                line-height: 20px;
                justify-content: flex-start;
            }

            &.mod-context {
                justify-content: flex-start;
            }

            &.mod-description {
                align-items: flex-start;
                padding: 22px;
            }
        }
    }

    .mod-context_wrap {
        width: 100%;
        height: 205px;
        border: 1px solid $widgetSidebarBorder;
        padding: 17px 20px;
        background: $white;

        @include media ('t-ipad') {
            width: 555px;
        }
    }

    .widget-table_item-text > * {
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;

        &:not(:last-child) {
            margin-bottom: 27px;
        }

        @include media('d-only') {
            font-size: 16px;
            line-height: 29px;
        }
    }
}
