@import '@/app';

.chat {
    display: flex;
    width: calc(100% - 295px);
    max-width: 1625px;
    height: calc(100% - 64px);
    padding: 0 2.47% 40px;

    @include media ('m-t-only') {
        position: relative;
        width: 100%;
        flex-direction: column;
        padding: 0;
        overflow: hidden;
        z-index: 105;
    }

    .chat_handler {
        width: 566px;
        margin-top: 40px;
        padding-top: 10px;

        border: 1px solid #ECF7FC;

        @include media ('m-t-only') {
            width: 100%;
            border-left: none;
            border-right: none;
            margin-top: 0;
            background: #fff;
            padding: 0 5.3%;
        }

        &-header {
            display: flex;
            align-items: center;
            height: 119px;
            padding: 0 40px;

            @include media ('m-t-only') {
                padding: 0 16px;
            }

            svg.leftArrow {
                width: 22px;
                height: 18px;
                fill: $widgetActiveBlue;
                cursor: pointer;

                @include media('d') {
                    display: none;
                }
            }

            svg.bell {
                width: 24px;
                height: 30px;
                margin-top: -20px;
                fill: $mainDarkBlue;
                cursor: pointer;
                @include media('m-t-only') {
                    display: none;
                }
            }

            &_manager {
                flex-grow: 1;
                display: flex;
                align-items: center;
                line-height: 1.2;
                font-size: 16px;
                font-weight: 400;
                color: #88A5DB;

                @include media('m-t-only') {
                    justify-content: center;
                }

                .manager_photo {
                    width: 63px;
                    height: 63px;
                    margin-right: 13px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .manager_info-name {
                    font-weight: 600;
                    color: $mainDarkBlue;
                }

                .manager_info-site {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    svg.arrow {
                        width: 10px;
                        height: 5px;
                        stroke: #88A5DB;
                        margin-left: 8px;
                        cursor: pointer;
                    }
                }
            }
        }

        &-search {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 49px;
            margin: 0 42px 38px;
            border: 1px solid #E7F4FB;
            border-radius: 8px;

            @include media('m') {
                margin: 0 5.3% 18px;
            }

            &_text {
                @include swift_placeholder(400, #88A5DB);
                width: 80%;
                background: inherit;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 600;
                color: $mainDarkBlue;
            }

            svg.search {
                width: 16px;
                height: 16px;
                fill: #88A5DB;
                margin-left: 20px;
                margin-right: 10px;
                cursor: pointer;
            }
        }

        &-topics {
            height: calc(100vh - 360px);
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 3px; /* width of vertical scrollbar */
            }

            &::-webkit-scrollbar-track {
                border-radius: 0;
                background: #E7F4FB;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background: $mainDarkBlue;
            }

            @include media('m-t-only') {
                height: auto;
            }
        }

        &-topic_wrapper {
            padding: 0 40px;

            @include media('m-t-only') {
                padding: 0;
            }

            &.mod_active {
                background: $landingHeaderbackground;
                @include media('m-t-only') {
                    background: inherit;
                }
            }
        }

        &-topic {
            display: flex;
            align-items: center;
            height: 121px;
            border-bottom: 1px solid #E7F4FB;
            font-size: 16px;
            font-weight: 400;
            color: #88A5DB;
            line-height: 1.5;

            @include media('m-t-only') {
                height: 82px;
                border-bottom: none;
            }

            .topic_messenger {
                flex-shrink: 0;
                width: 63px;
                height: 63px;
                margin-right: 15px;
                border-radius: 50%;
                background: blue;

                .messenger-icon {
                    width: 37px;
                    height: 37px;
                    margin-left: 14px;
                    margin-top: 12px;
                    fill: $white;
                }
            }

            .topic_other {
                width: 100%;
                height: 121px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include media('m-t-only') {
                    height: 82px;
                    border-bottom: 1px solid #E7F4FB;
                }
            }

            .topic_data {
                flex-grow: 1;
                cursor: pointer;

                .topic_data-nameID {
                    color: $mainDarkBlue;

                    @include media('m-t-only') {
                        margin-bottom: 5px;
                        font-size: 12px;
                        font-weight: 300;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 600;
                        @include media('m-t-only') {
                            display: block;
                        }
                    }
                }

                .topic_data-content {
                    @include media('m-t-only') {
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
            }

            .topic_time {
                margin-top: -23px;

                @include media('m-t-only') {
                    align-self: flex-start;
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }

    .chat_info {
        position: relative;
        flex-shrink: 1;
        flex-grow: 1;
        margin-top: 40px;
        padding: 0 40px 40px;

        border-right: 1px solid #ECF7FC;
        border-top: 1px solid #ECF7FC;
        border-bottom: 1px solid #ECF7FC;

        @include media('m-t-only') {
            margin-top: 0;
            padding: 0;
        }

        &-mobileLayout {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.9);
            z-index: 130;
        }

        .mobileArrow {
            position: fixed;
            top: 30px;
            left: 20px;
            z-index: 135;

            svg {
                width: 22px;
                height: 18px;
                fill: $mainDarkBlue;
                cursor: pointer;
            }
        }

        &-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 119px;
            line-height: 1.2;
            margin-top: 10px;
            border-bottom: 1px solid #E7F4FB;
            font-size: 16px;
            font-weight: 400;
            color: $mainDarkBlue;

            span {
                font-weight: 600;
            }

            @include media ('m-t-only') {
                position: fixed;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 115px;
                line-height: 1.5;
                margin-top: 0;
                background: #EFF8FD;
                font-size: 14px;
                z-index: 134;
            }
        }

        &-content {
            padding: 12px 0;

            @include media ('m-t-only') {
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                padding: 0;
                background: #E6F5FF;
                z-index: 120;
            }
        }

        &-dialog {
            height: calc(100vh - 393px);
            padding: 0 17px;
            overflow: auto;

            @include media ('m-t-only') {
                flex-grow: 1;
                padding-top: 10px;
            }


            &::-webkit-scrollbar {
                width: 3px; /* width of vertical scrollbar */
                @include media ('m-t-only') {
                    width: 0;
                }
            }

            &::-webkit-scrollbar-track {
                border-radius: 0;
                background: #E7F4FB;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background: $mainDarkBlue;
            }
        }

        &-message {
            display: flex;
            align-items: flex-start;
            margin-bottom: 3vh;

            &.mod_manager-message {
                justify-content: flex-start;
            }

            &.mod_client-message {
                justify-content: flex-end;
            }
        }

        &-avatar {
            width: 63px;
            height: 63px;
            border-radius: 50%;

            &.mod_client {
                border: 1px solid #E7F4FB;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-message-block {
            max-width: 70%;
            border: 1px solid #E7F4FB;
            border-radius: 15px;
            font-size: 16px;

            &.mod_manager {
                background: $white;
                margin-left: 20px;
                padding: 19px 14px 18px 25px;
                text-align: left;
            }

            &.mod_client {
                background: #EFF8FD;
                margin-right: 20px;
                padding: 19px 25px 18px 14px;
                text-align: right;
            }

            .message-block_text {
                line-height: 2;
                font-weight: 400;
                color: #23324E;
            }

            .message-block_time {
                line-height: 2;
                font-weight: 300;
                font-style: italic;
                color: #88A5DB;
            }
        }

        &-newMessage {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            height: 95px;
            padding: 20px;
            background: $white;
            border: 1px solid #E3ECF5;
            border-radius: 8px;
            text-align: left;

            @include media('m-t-only') {
                margin: 0 17px 10px;
            }


            .newMessage_text {
                @include swift_placeholder(400, #B8D1DE);
                width: 90%;
                border: none;
                outline: none;
                resize: none;
                font-size: 16px;
                color: #23324E;
                overflow: hidden;
            }

            .newMessage_send {
                width: 26px;
                height: 22px;
                fill: #B8D1DE;
                cursor: pointer;
            }
        }
    }
}

.chat-info_mobileTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    line-height: 1.2;
    padding: 10px 16px;
    background: $mainDarkBlue;

    .mobileTitle_arrow {
        width: 22px;
        height: 18px;
        fill: $white;
        cursor: pointer;

        &-icon {
            width: 100%;
            height: 100%;
        }
    }

    .mobileTitle_data {
        text-align: center;
        color: #fff;

        .name {
            font-size: 16px;
            font-weight: 600;
        }

        .id {
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 400;
        }

        .status {
            font-size: 12px;
            font-weight: 300;
            color: #88A5DB;
        }
    }

    .mobileTitle_info {
        width: 22px;
        height: 22px;
        cursor: pointer;

        &-icon {
            width: 100%;
            height: 100%;
            fill: $white;
        }
    }
}
