@import '@/app';

.logo {
    color: $mainDarkBlue;
    cursor: pointer;
    text-align: center;

    .logo_title {
        font-weight: bold;
        line-height: 1;
    }

    .logo_subtitle {
        font-weight: 200;
        line-height: 1;
    }

    &.authClass {
        .logo_title {
            font-size: 32px;
            @include media('t') {
                font-size: 4.9vh;
            }
        }

        .logo_subtitle {
            font-size: 22px;
            @include media('t') {
                font-size: 3.5vh;
            }
        }
    }

    &.landingClass {

        .logo_title {
            font-size: 25px;

            @include media('d-only') {
                font-size: 35px;
            }

        }

        .logo_subtitle {
            font-size: 17px;

            @include media('d-only') {
                font-size: 25px;
            }
        }
    }
}


