@import '@/app';

.diagram_header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 25%;
    padding: 3.2% 2.9% 0 3.6%;
    line-height: 1;

    .title_numbers {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .title_numbers-total {
        font-size: 2.09vw;
        font-weight: 800;
        color: $mainDarkBlue;

        @include media('m-t-only') {
            font-size: 40px;
        }

    }

    .title_numbers-percent {
        position: relative;
        margin-left: 0.7vw;
        font-size: 0.63vw;
        font-weight: 700;

        @include media('m-t-only') {
            margin-left: 10px;
            font-size: 12px;
        }

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 0.2vw solid transparent;
            border-right: 0.2vw solid transparent;
            position: absolute;
            left: -0.5vw;
            top: -0.05vw;
            @include media('m-t-only') {
                border-left: 3.5px solid transparent;
                border-right: 3.5px solid transparent;
                left: -9px;
                top: 1px;
            }
        }



        &.mod_increase {
            color: #35AC00;

            &::before {
                border-bottom: 0.5vw solid #35AC00;

                @include media('m-t-only') {
                    border-bottom: 8px solid #35AC00;
                }
            }
        }

        &.mod_decrease {
            color: #D31616;

            &::before {
                border-top: 0.5vw solid #D31616;

                @include media('m-t-only') {
                    border-top: 8px solid #D31616;
                }
            }
        }
    }

    .title_name {
        font-size: 0.79vw;
        font-weight: 500;
        color: #8995AD;

        @include media('m-t-only') {
            font-size: 15px;
        }
    }
}

.diagram_canvas-container {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 75%;

    .diagram_chart {
        height: 100%;
    }
}
