@import '@/app';

.billing-bank {

    .billing_container {
        max-width: 1625px;
        padding: 39px 17px;

        @include media('d-only') {
            padding: 53px 43px 0 38px;
            margin-bottom: 50px;
        }
    }

    .cabinet-page_title {
        margin-bottom: 38px;

        @include media('d-only') {
            padding: 0;
            margin-bottom: 0;
        }
    }

    .billing-inputs {

        @include media("d-only") {
            display: flex;
            padding-top: 55px;
        }
    }

    .billing-bank_inputs {

        &:not(:last-of-type) {
            margin-bottom: 26px;
        }

        @include media("d-only") {
            position: relative;
            width: 100%;
            padding-bottom: 20px;

            &:not(:last-of-type) {
                margin-bottom: 0;
            }

            &.mod-left {
                padding-right: 60px;
                margin-right: 60px;

                &:after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 505px;
                    background: $billingBorder;
                    right: -1px;
                    bottom: 0;
                }
            }
        }

        .billing-input_wrap {
            max-width: 768px;
            margin: 0 auto;

            &:not(:last-of-type) {
                margin-bottom: 26px;
            }

            @include media('d-only') {
                width: 100%;

                &:not(:last-of-type) {
                    margin-bottom: 35px;
                }

                .billing-input_title {
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .billing-input_title {
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: $mainDarkBlue;
                margin-bottom: 10px;
            }

            .widget-input {
                width: 100%;

                &::placeholder {
                    color: $widgetPlaceholder;

                    @include media("d-only") {
                        max-width: 100%;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .widget-button {
        margin: 50px auto 0;

        @include media('d-only') {
            margin: 64px 0 0 0;
        }
    }
}
