@import '@/app';

.widget-install {

    .widget_container {
        max-width: 1625px;
        padding: 54px 45px 0 38px;

        .cabinet-page_title {
            margin-bottom: 30px;

            &.mod_margin {
                margin-bottom: 52px;
            }
        }
    }

    .widget-block_script {
        max-width: 733px;
        height: 100px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-size: 25px;
        font-weight: 600;
        line-height: 27px;
        color: $mainDarkBlue;

        border: 1px solid $inputBorder;
        border-radius: 8px;
        background-color: $white;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.04);
        padding: 0 28px;

        &.mod_verify {
            max-width: 1531px;
            height: 87px;
            position: relative;

            font-size: 18px;
            line-height: 30px;

            padding: 0 75px 0 30px;
            margin-bottom: 31px;

            .widget-verification_icon {
                width: 20px;
                height: 24px;

                position: absolute;
                right: 33px;
                top: 31px;
                fill: $widgetActiveBlue;
            }
        }
    }

    .widget-install_wrap {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 53px;
    }

        .widget-install_site {
            width: 50%;
            border-right: 1px solid $widgetInstallBorder;
            padding-right: 39px;

        }

        .widget-install_plugins {
            width: 50%;
            padding-left: 41px;

            .widget-logo_plugins {
                font-size: 0;
                margin: 0 -20px;

                .widget-plugin_image {
                    width: 52px;
                    height: 52px;
                    margin: 0 20px;
                    cursor: pointer;
                }
            }
        }


    .widget-button {
        width: 264px;
        margin: 0 auto;
    }
}
