@import '@/app';

.widget-install {

    .widget_container {
        max-width: 1625px;
        padding: 39px 17px 0;

        @include media('d-only') {
            padding: 54px 45px 0 38px;

        }

        .cabinet-page_title {
            margin-bottom: 30px;

            @include media('d-only') {
                &.mod_margin {
                    margin-bottom: 52px;
                }
            }
        }
    }

    .widget-install_wrap {
        margin-bottom: 29px;

        @include media('d-only') {
            display: flex;
            margin-bottom: 53px;
        }
    }

    .widget-install_site {

        @include media('d-only') {
            width: 50%;
            border-right: 1px solid $widgetInstallBorder;
            padding-right: 39px;
        }
    }

    .widget-block_url {
        display: flex;
        align-items: center;

        height: 70px;

        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        color: $mainDarkBlue;
        background-color: $white;

        border: 1px solid rgba(0, 33, 95, 0.05);
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.04);
        padding: 0 22px;

        @include media('t-ipad') {
            max-width: 733px;
            margin: 0 auto;
        }

        @include media('d-only') {
            height: 100px;

            font-size: 25px;
            line-height: 27px;
            border-radius: 8px;
            border: 1px solid $inputBorder;
            padding: 0 28px;
            margin: 0;
        }
    }

    .widget-block_script {
        position: relative;

        max-width: 1530px;

        display: flex;
        align-items: center;
        flex-direction: column;

        text-align: center;

        font-weight: 600;
        color: $mainDarkBlue;
        background-color: $white;

        border: 1px solid rgba(0, 33, 95, 0.05);
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.04);

        font-size: 16px;
        line-height: 30px;

        word-break: break-word;

        padding: 27px 14px 27px 14px;
        margin-bottom: 30px;

        @include media('d-only') {
            flex-direction: row;
            padding: 27px 75px 27px 30px;
            font-size: 18px;

            text-align: left;
        }

        .widget-block_script-text {
            margin-bottom: 24px;

            @include media('d-only') {
                margin-bottom: 0;
            }
        }

        .widget-verification_icon {
            display: block;
            width: 20px;
            height: 24px;

            flex-shrink: 0;

            fill: $widgetActiveBlue;

            @include media('d-only') {
                position: absolute;
                right: 33px;
                top: 31px;
            }
        }
    }

    .widget-install_plugins {
        display: none;

        @include media('d-only') {
            display: block;
            width: 50%;
            padding-left: 41px;
        }

        &.mod-mobile {
            display: flex;
            flex-direction: column;
            border-top: 1px solid $widgetInstallBorder;
            padding-top: 39px;

            @include media('t-ipad') {
                align-items: center;
            }

            @include media('d-only') {
                display: none;
            }
        }

        .widget-logo_plugins {
            display: flex;
            align-items: center;

            .widget-plugin_image {
                width: 52px;
                height: 52px;
                cursor: pointer;

                &:not(:last-of-type) {
                    margin-right: 40px;
                }
            }
        }
    }

    .widget-button {
        width: 264px;
        margin: 0 auto 39px;
    }
}
