@import '@/app';

.widget-time {

    .widget_container {
        max-width: 1625px;
        padding: 0 17px 24px;

        @include media('d-only') {
            padding: 53px 45px 0 38px;

        }

        .cabinet-page_title {
            margin-bottom: 7px;

            &.mod_margin {
                margin-bottom: 15px;
            }

            @include media('d-only') {
                margin-bottom: 9px;

                &.mod_margin {
                    margin-bottom: 29px;
                }
            }
        }
    }

    .widget-time-wrap {

        @include media('d-only') {
            display: flex;
        }
    }

    .widget-time_block-left {
        padding-bottom: 38px;
        border-bottom: 1px solid $widgetInstallBorder;
        margin-bottom: 38px;

        .widget-time_subtitle {
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            color: $widgetDeactivateLink;
            margin-left: 25px;
            margin-bottom: 18px;

            @include media('t-ipad') {
                text-align: center;
            }
        }

        @include media('d-only') {
            width: 60%;
            border-bottom: none;
            border-right: 1px solid $widgetInstallBorder;
            padding: 0 54px 0 0;
            margin: 0 52px 0 0;


            .widget-time_subtitle {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;
                text-align: left;
            }
        }
    }

    .widget-time_symbols {
        display: flex;
        margin-bottom: 38px;

        .widget-time_symbols-item {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            color: $widgetDeactivateLink;

            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }


        .widget-time_symbol {
            width: 10px;
            height: 10px;
            box-shadow: 0 3px 5px rgba(0, 33, 95, 0.08);
            border-radius: 50%;
            margin-right: 7px;

            &.work {
                background-color: $mainDarkBlue;

            }

            &.out {
                background-color: $widgetTimeSymbol;
            }
        }

        .widget-time_symbol-text {
            height: 16px;
        }


        @include media('t-ipad') {
            justify-content: center;
        }

        @include media('d-only') {
            justify-content: left;
            margin-left: 25px;
            margin-bottom: 44px;

            .widget-time_symbols-item {
                font-size: 14px;

                &:not(:last-of-type) {
                    margin-right: 30px;
                }

                .widget-time_symbol {
                    width: 12px;
                    height: 12px;
                    margin-right: 10px;
                }
            }
        }
    }

    .widget-time_block-right {

        .widget-time_mode {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: $mainDarkBlue;
            margin-bottom: 39px;

            .widget-time_checkbox {
                margin-right: 33px;
            }

            .mod_color {
                color: $widgetActiveBlue;
            }

            @include media('t-ipad') {
                justify-content: center;
            }

            @include media('d-only') {
                justify-content: flex-start;
                font-size: 18px;
                line-height: 33px;

                &:not(:last-of-type) {
                    padding-bottom: 17px;
                    border-bottom: 1px solid $widgetInstallBorder;
                    margin-bottom: 16px;
                }

                .widget-time_checkbox {
                    margin-right: 25px;
                }
            }
        }



        .el-checkbox {
            .el-checkbox__input {
                width: 20px;
                height: 20px;

                &.is-checked {
                    .el-checkbox__inner {
                        background: none;
                    }
                }

                .el-checkbox__inner {
                    width: 20px;
                    height: 20px;
                    //background: $white;
                    border: 1px solid $inputBorder;
                }

                .el-checkbox__inner::after {
                    border-width: 3px;
                    border-color: $mainDarkBlue;
                    height: 10px;
                    left: 6px;
                    top: 1px;
                    width: 4px;
                    transition-delay: 0s;
                    transition-duration: 0.1s;
                }
            }

            .el-checkbox__label {
                color: $mainDarkBlue;
                padding-top: 1px;
                font-size: 14px;
                margin-top: 5px;
                vertical-align: top;
                line-height: 1;
            }

            @include media('d-only') {

                .el-checkbox__input {
                    width: 31px;
                    height: 31px;

                    &.is-checked {
                        .el-checkbox__inner {
                            background: none;
                        }
                    }

                    .el-checkbox__inner {
                        width: 31px;
                        height: 31px;
                        border-radius: 8px;
                    }

                    .el-checkbox__inner::after {
                        border-width: 3px;
                        border-color: $mainDarkBlue;
                        height: 16px;
                        left: 9px;
                        top: 2px;
                        width: 9px;
                        transition-delay: 0s;
                        transition-duration: 0.1s;
                    }
                }
            }


        }
    }

    .widget-button {
        margin: 0 auto;

        @include media('d-only') {
            margin: 0;
        }
    }


}
