@import '@/app';

.widget-time {

    .widget_container {
        max-width: 1625px;
        padding: 0 17px 24px;

        @include media('d-only') {
            padding: 53px 45px 0 38px;

        }

        .cabinet-page_title {
            margin-bottom: 7px;

            &.mod_margin {
                margin-bottom: 15px;
            }

            @include media('d-only') {
                margin-bottom: 9px;

                &.mod_margin {
                    margin-bottom: 29px;
                }
            }
        }
    }

    .widget-time-wrap {

        @include media('d-only') {
            display: flex;
        }
    }


    .widget-time_block-left {
        padding-bottom: 38px;
        border-bottom: 1px solid $widgetInstallBorder;
        margin-bottom: 38px;

        .widget-time_subtitle {
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            color: $widgetDeactivateLink;
            margin-left: 25px;
            margin-bottom: 18px;

            @include media('t-ipad') {
                text-align: center;
            }
        }

        @include media('d-only') {
            border-bottom: none;
            border-right: 1px solid $widgetInstallBorder;
            padding: 0 54px 0 0;
            margin: 0 52px 0 0;

            .widget-time_subtitle {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;
                text-align: left;
            }
        }
    }

    .widget-time_symbols {
        display: flex;
        margin-bottom: 38px;

        .widget-time_symbols-item {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            color: $widgetDeactivateLink;

            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }


        .widget-time_symbol {
            width: 10px;
            height: 10px;
            box-shadow: 0 3px 5px rgba(0, 33, 95, 0.08);
            border-radius: 50%;
            margin-right: 7px;

            &.work {
                background-color: $mainDarkBlue;

            }

            &.out {
                background-color: $widgetTimeSymbol;
            }
        }

        .widget-time_symbol-text {
            height: 16px;
        }


        @include media('t-ipad') {
            justify-content: center;
        }

        @include media('d-only') {
            justify-content: left;
            margin-bottom: 44px;

            .widget-time_symbols-item {
                font-size: 14px;
                margin-left: 25px;

                &:not(:last-of-type) {
                    margin-right: 30px;
                }

                .widget-time_symbol {
                    width: 12px;
                    height: 12px;
                    margin-right: 10px;
                }
            }
        }
    }

    .widget-time_block-right {

    }

    .widget-button {
        margin: 0 auto;

        @include media('d-only') {
            margin: 0;
        }
    }


}
