@import '@/app';

.widget-time {

    .widget_container {
        max-width: 1625px;
        padding: 0 17px 24px;

        @include media('d-only') {
            padding: 54px 45px 40px 38px;

        }

        .cabinet-page_title {
            margin-bottom: 7px;

            &.mod_margin {
                margin-bottom: 15px;
            }

            @include media('d-only') {
                margin-bottom: 9px;

                &.mod_margin {
                    margin-bottom: 29px;
                }
            }
        }
    }

    .widget-time-wrap {
        position: relative;

        @include media('d-only') {
            display: flex;
        }
    }

    .widget-time_block-left {
        padding-bottom: 38px;
        border-bottom: 1px solid $widgetInstallBorder;
        margin-bottom: 38px;

        .widget-time_subtitle {
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            color: $widgetDeactivateLink;
            margin-left: 25px;
            margin-bottom: 18px;

            @include media('t-ipad') {
                text-align: center;
            }
        }

        @include media('d-only') {
            width: 60%;
            border-bottom: none;
            border-right: 1px solid $widgetInstallBorder;
            padding: 0 54px 0 0;
            margin: 0 52px 0 0;


            .widget-time_subtitle {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;
                text-align: left;
            }
        }
    }

    .widget-time_symbols {
        display: flex;
        margin-bottom: 38px;

        .widget-time_symbols-item {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            color: $widgetDeactivateLink;

            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }


        .widget-time_symbol {
            width: 10px;
            height: 10px;
            box-shadow: 0 3px 5px rgba(0, 33, 95, 0.08);
            border-radius: 50%;
            margin-right: 7px;

            &.work {
                background-color: $mainDarkBlue;

            }

            &.out {
                background-color: $widgetTimeSymbol;
            }
        }

        .widget-time_symbol-text {
            height: 16px;
        }


        @include media('t-ipad') {
            justify-content: center;
        }

        @include media('d-only') {
            justify-content: left;
            margin-left: 25px;
            margin-bottom: 44px;

            .widget-time_symbols-item {
                font-size: 14px;

                &:not(:last-of-type) {
                    margin-right: 30px;
                }

                .widget-time_symbol {
                    width: 12px;
                    height: 12px;
                    margin-right: 10px;
                }
            }
        }
    }

    .widget-time_mode {
        display: flex;
        align-items: center;
        margin-bottom: 39px;

        .el-radio {
            display: flex;
            align-items: center;

            &.is-checked {
                .el-radio__inner {
                    background: none;

                    &:after {
                        transform: rotate(45deg) scaleY(1);
                    }
                }
            }

            .el-radio__inner {
                width: 20px;
                height: 20px;
                border: 1px solid $inputBorder;
                border-radius: 0;

                &:after {
                    position: absolute;
                    box-sizing: content-box;
                    content: "";
                    display: block;
                    border: 3px solid $mainDarkBlue;
                    border-left: 0;
                    border-top: 0;
                    height: 10px;
                    left: 6px;
                    top: 1px;
                    width: 4px;
                    border-radius: 0;
                    background: none;
                    transition-delay: 0s;
                    transition-duration: 0.1s;
                    transform: rotate(45deg) scaleY(0);
                }
            }

            .el-radio__input {
                width: 20px;
                height: 20px;
                margin-right: 16px;
            }

            .el-radio__label {
                display: block;

                li {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    color: $mainDarkBlue;
                    list-style-type: disc;
                    white-space: normal;

                    @include media('d-only') {
                        font-size: 18px;
                        line-height: 33px;
                    }
                }
            }

            @include media('d-only') {
                .el-radio__input {
                    width: 31px;
                    height: 31px;
                }

                .el-radio__inner {
                    width: 31px;
                    height: 31px;
                    border-radius: 8px;
                }

                .el-radio__inner::after {
                    height: 16px;
                    left: 9px;
                    top: 2px;
                    width: 9px;
                }
            }
        }

        .widget-time_checkbox {
            margin-right: 33px;
        }

        .mod_color {
            color: $widgetActiveBlue;
        }

        @include media('t-ipad') {
            justify-content: center;
        }

        @include media('d-only') {
            justify-content: flex-start;

            &:not(:last-of-type) {
                padding-bottom: 17px;
                border-bottom: 1px solid $widgetInstallBorder;
                margin-bottom: 16px;
            }

            .widget-time_checkbox {
                margin-right: 25px;
            }
        }
    }

    .widget-button {
        margin: 0 auto;

        @include media('d-only') {
            margin: 0;
        }
    }

    .timepicker-overlay {
        z-index: 8;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.15s linear;
    }

    .widget-schedule {
        .noSlider {
            &.noUi-target {
                height: 3px;
                background: $widgetSidebarBorder;
                border-radius: 0;
                box-shadow: none;
                border: none;

                @include media('d-only') {
                    height: 4px;
                }
            }

            .noUi-handle {
                width: 17px;
                height: 17px;
                background: $mainDarkBlue;
                box-shadow: none;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                outline: none;
                top: -7px;

                &[data-handle="1"], &[data-handle="2"] {
                    background: #CBE5F4;
                }

                &:before, &:after {
                    content: none;
                }

                @include media('d-only') {
                    width: 28px;
                    height: 28px;
                    top: -12px;
                }
            }
        }
    }

    .widget-schedule_slider {
        &:not(:last-of-type) {
            margin-bottom: 38px;
        }
    }

    .widget-schedule_sliders {
        max-width: 768px;
        margin: 0 auto 45px;

        @include media('d-only') {
        max-width: 100%;
        }
    }

    .widget-schedule_slider-title {
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: $mainDarkBlue;
        margin-bottom: 18px;
    }

    .widget-schedule_results {
        display: flex;
        align-items: center;

        margin-bottom: 38px;

        .dropdown_double {
            position: absolute;
            z-index: 100;
            bottom: 0;
            left: 50%;
            top: 52px;

            transform: translateX(-50%);

            &.mod_hide {
                display: none;
            }

            @include media('t-ipad') {
                left: 0;
                transform: translateX(0);

                display: flex;
                align-items: flex-start;

                &.mod_hide {
                    display: none;
                }
            }

            @include media('d-only') {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .dropdown_title {
            display: block;
            width: 100%;

            text-align: center;
            color: $mainDarkBlue;
            font-size: 16px;
            font-weight: 700;

            background: white;
        }

        .dropdown {
            background: transparent;
            width: 150px;

            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
            font-weight: normal;

            transform: translateY(0);
            transition: all 0.2s ease-out;
        }

        .dropdown_list {
            background: white;
            padding: 0;
            margin: 0;
            list-style: none;
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .dropdown_item {
            list-style-type: none;
            word-wrap: break-word;
            text-align: center;
            padding: 5px 0;
            color: #a5a5a5;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                background: rgba(0, 0, 0, .08);
                color: #161616;
            }

            &.mod_active {
                background: $mainDarkBlue;
                color: white;
            }
        }

        .dropdown_container {
            width: 100%;
            height: 178px;
            overflow: hidden;
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            justify-content: space-between;
        }
    }

    .widget-schedule_result {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 8px;
        width: 164px;
        height: 46px;
        color: #cbe5f4;
        font-size: 16px;
        font-weight: 500;
        background: $mainDarkBlue;

        cursor: pointer;

        &:nth-child(2) {
            margin-left: 15px;
            background: #CBE5F4;
            color: $mainDarkBlue;
        }
    }

    .widget-schedule_empty {
        position: relative;
        height: 4px;
        background: #E0F1FA;
        border-radius: 0;
        box-shadow: none;
        border: none;
    }

    .widget-schedule_slider-add {
        position: absolute;
        top: -9px;

        left: 50%;
        transform: translateX(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;
        background: $mainDarkBlue;
        border-radius: 50%;

        color: $white;
        font-size: 24px;
        text-align: center;
        font-weight: 300;

        padding-top: 2px;

        cursor: pointer;

        @include media('d-only') {
            right: -37px;
            left: auto;
        }
    }

    .timepicker {
        position: relative;
    }
}




