@import '@/app';

.landing-menu {
    max-width: 1586px;
    margin: 0 auto;

    .landing-menu_container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .landing-menu_logo {
            color: $mainDarkBlue;
            font-size: 35px;
            font-weight: 700;
            line-height: 40px;

            .landing-menu_logoCallback {
                display: block;
                font-size: 25px;
                font-weight: 300;
                line-height: 0;
            }
        }

        .landing-menu_nav {
            display: flex;

            .landing-menu_item {
                list-style-type: none;
                margin-right: 40px;
                text-transform: uppercase;
            }
        }

        .button {
            width: 225px;
            height: 65px;
        }
    }
}


