@import '@/app';

.landing-menu {
    max-width: 1586px;
    margin: 0 auto;

    .landing-menu_container {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .landing-menu_nav {
            display: flex;

            .landing-menu_item {
                list-style-type: none;
                text-transform: uppercase;
                margin: 0 20px;
                padding: 5px 0;
                color: $landingMenuNav;
                cursor: pointer;

            }
        }
    }
}


