@import '@/app';

.landing-plan {
    max-width: 1379px;
    padding: 0 32px;
    margin: 0 auto;

    .landing-plan_title {
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        color: $mainDarkBlue;
        text-align: center;
        padding: 0 44px;
        margin-bottom: 35px;

        @include media('d-only') {
            font-size: 50px;
        }
    }

    .landing-plan_container {
        display: flex;
        justify-content: space-between;

        .landing-plan_block {
            background: $landingBackground;
            border-radius: 8px;


            @include media('d-only') {
                background: $white;
                border: 1px solid $landingBackgroundBorder;
            }
        }
    }

    .landing-plan_image {
        padding: 60px 70px 0;
        margin-bottom: 62px;

        @include media('d-only'){
            margin-bottom: 80px;
        }

    }
}