//@import './../../../../sass/variables';
@import '@/app';

.auth-input {
    width: 100%;
    height: 45px;
    border: 1px solid #e3ecf5;
    border-radius: 8px;
    padding-left: 5vw;
    font-size-adjust: none;

    &::-moz-placeholder {
        color: $mainLightBlue;
        font-weight: 300;
    }
    &::-webkit-input-placeholder {
        color: $mainLightBlue;
        font-weight: 300;
    }
    &:focus::-webkit-input-placeholder {color: transparent}
    &:focus::-moz-placeholder          {color: transparent}
}

.auth {
    background-color: $landingBackground;
    text-align: center;

    .test {
        background-color: #fff;
    }
    
    .auth_wrapper {
        max-width: 520px;

        .authHeader {
            margin: 88px auto 30px;
        }

        .regHeader {
            margin: 46px auto 30px;
        }

        .restoreHeader {
            margin: 104px auto 30px;
        }

    }

    .auth_method {
        height: 58px;
        margin: 0 18px;
        padding-top: 19px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 3px 12px rgba(0, 33, 95, 0.04);
        color: $mainDarkBlue;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        text-transform: uppercase;

        & span {
            cursor: pointer;
        }

        .mod_passive {
            color: $mainLightBlue;
            font-weight: 100;
        }
    }

    .auth_authMode, .auth_regMode, .auth_restoreMode {
        background: #fff;
        margin-top: -7px;
        padding: 29px 33px 0;
        border-radius: 8px;
        box-shadow: 0 3px 12px rgba(0, 33, 95, 0.04);

    }
}





