//@import './../../../../sass/variables';
@import '@/app';

.auth {
    background-color: $landingBackground;
    padding: 0 33px;
    text-align: center;

    .authHeader {
        margin-top: 88px;
    }
    .regHeader {
        margin-top: 46px;
    }
    .restoreHeader {
        margin-top: 104px;
    }
    .auth_logo {
        color: $mainDarkBlue;
        .logo_title {
            font-size: 32px;
            font-weight: bold;
        }
        .logo_function {
            font-size: 22px;
            font-weight: 200;
        }

    }


}


