
.icon-api_gear:before { content: '\e800'; } /* '' */
.icon-arrow:before { content: '\e801'; } /* '' */
.icon-arrow(left-back):before { content: '\e802'; } /* '' */
.icon-audio_tool:before { content: '\e803'; } /* '' */
.icon-bell_notification:before { content: '\e804'; } /* '' */
.icon-block(disable):before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-call:before { content: '\e807'; } /* '' */
.icon-cellphone_sms:before { content: '\e808'; } /* '' */
.icon-chat_bubbles:before { content: '\e809'; } /* '' */
.icon-chat_settings:before { content: '\e80a'; } /* '' */
.icon-chat_circle:before { content: '\e80b'; } /* '' */
.icon-clock:before { content: '\e80c'; } /* '' */
.icon-copy:before { content: '\e80d'; } /* '' */
.icon-cross:before { content: '\e80e'; } /* '' */
.icon-download_:before { content: '\e80f'; } /* '' */
.icon-email(circle):before { content: '\e810'; } /* '' */
.icon-euro:before { content: '\e811'; } /* '' */
.icon-facebook:before { content: '\e812'; } /* '' */
.icon-global:before { content: '\e813'; } /* '' */
.icon-invoice:before { content: '\e814'; } /* '' */
.icon-link_symbol:before { content: '\e815'; } /* '' */
.icon-logout:before { content: '\e816'; } /* '' */
.icon-logout(man_running):before { content: '\e817'; } /* '' */
.icon-mail_envelope_open:before { content: '\e818'; } /* '' */
.icon-mail_envelope:before { content: '\e819'; } /* '' */
.icon-menu.billing:before { content: '\e81a'; } /* '' */
.icon-menu.chat:before { content: '\e81b'; } /* '' */
.icon-menu.settings:before { content: '\e81c'; } /* '' */
.icon-menu.statistics:before { content: '\e81d'; } /* '' */
.icon-menu.support:before { content: '\e81e'; } /* '' */
.icon-menu.widget:before { content: '\e81f'; } /* '' */
.icon-messenger:before { content: '\e820'; } /* '' */
.icon-minus:before { content: '\e821'; } /* '' */
.icon-mobile_phone:before { content: '\e822'; } /* '' */
.icon-move_arrow:before { content: '\e823'; } /* '' */
.icon-notes_paper:before { content: '\e824'; } /* '' */
.icon-offers.api:before { content: '\e825'; } /* '' */
.icon-offers.call_recorder:before { content: '\e826'; } /* '' */
.icon-offers.call_schedulling:before { content: '\e827'; } /* '' */
.icon-offers.dashnoard:before { content: '\e828'; } /* '' */
.icon-offers.phone_book:before { content: '\e829'; } /* '' */
.icon-offers.safe:before { content: '\e82a'; } /* '' */
.icon-offers.sms(manager):before { content: '\e82b'; } /* '' */
.icon-offers.social_media:before { content: '\e82c'; } /* '' */
.icon-pc:before { content: '\e82d'; } /* '' */
.icon-phone:before { content: '\e82e'; } /* '' */
.icon-plus(add):before { content: '\e82f'; } /* '' */
.icon-puzzle(plugin):before { content: '\e830'; } /* '' */
.icon-recorder:before { content: '\e831'; } /* '' */
.icon-search:before { content: '\e832'; } /* '' */
.icon-send_button:before { content: '\e833'; } /* '' */
.icon-settings:before { content: '\e834'; } /* '' */
.icon-subscribe:before { content: '\e835'; } /* '' */
.icon-telegram:before { content: '\e836'; } /* '' */
.icon-upload:before { content: '\e837'; } /* '' */
.icon-user:before { content: '\e838'; } /* '' */
.icon-viber:before { content: '\e839'; } /* '' */
.icon-vk:before { content: '\e83a'; } /* '' */
.icon-whatsapp:before { content: '\e83b'; } /* '' */
.icon-pause-solid:before { content: '\e83c'; } /* '' */
.icon-play-solid:before { content: '\e83d'; } /* '' */
.icon-stop-solid:before { content: '\e83e'; } /* '' */
.icon-volume-down-solid:before { content: '\e83f'; } /* '' */
.icon-volume-mute-solid:before { content: '\e840'; } /* '' */
.icon-volume-off-solid:before { content: '\e841'; } /* '' */
.icon-volume-up-solid:before { content: '\e842'; } /* '' */
.icon-info:before { content: '\e843'; } /* '' */
