@import '@/app';


.settings_content {
    display: flex;
    align-items: flex-start;
    padding: 0 1.2% 0 2.3%;

    @include media('m-t-only') {
        flex-direction: column;
        align-items: center;
        padding: 0 17px;
    }

    &-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 626px;
        max-width: 50%;

        @include media('m-t-only') {
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 500px;
        }

        &:first-of-type {
            border-right: 1px solid $billingBorder;
            padding-right: 1.2%;

            @include media('m-t-only') {
                border-right: none;
                padding-right: 0;
                border-bottom: 1px solid $billingBorder;
            }
        }

        &:last-of-type {
            padding-left: 3.6%;

            @include media('m-t-only') {
                margin-top: 35px;
                padding-left: 0;
            }
        }

        .item_header {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 60px;

            @include media('d-1400-only') {
                margin-bottom: 30px;
            }

            @include media('m-t-only') {
                margin-bottom: 38px;
            }

            &-svg {
                width: 16px;
                height: 16px;
                fill: $mainDarkBlue;
                margin-right: 4px;
            }

            &-value {
                height: 27px;
                font-size: 20px;
                font-weight: 700;
                color: $mainDarkBlue;
                text-transform: uppercase;
            }
        }

        .item_element {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 264px;
            height: 76px;
            margin-right: 2.4%;
            margin-bottom: 34px;

            @include media('d-1400-only') {
                width: 212px;
                margin-bottom: 20px;
            }

            @include media('m-t-only') {
                width: 100%;
                margin-bottom: 26px;
            }

            &-title {
                font-size: 16px;
                font-weight: 400;
                color: $mainDarkBlue;

                &.mod_center {
                    align-self: center;
                }

                @include media('d-1400-only') {
                    font-size: 14px;
                }
                @include media('m-t-only') {
                    font-size: 14px;
                }
            }

            &-content {
                height: 49px;
                border-radius: 8px;


            }

            input[class="item_element-content"],
            select[class="item_element-content"] {
                @include swift_placeholder(400);
                width: 100%;
                padding-left: 20px;
                border: 1px solid $inputBorder;
                outline: none;
                font-size: 16px;
                color: #23324E;

                @include media('d-1400-only') {
                    font-size: 14px;
                }
                @include media('m-t-only') {
                    font-size: 14px;
                }
            }

            select[class="item_element-content"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url('/img/icons/arrow_grey.svg') no-repeat 94% center;
                background-size: 12px 6px;
                background-color: $white;
            }

            &-upload {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 49px;
                height: 49px;
                margin: 0 auto;
                background: #080808;
                border-radius: 50%;
                cursor: pointer;

                .upload_svg {
                    width: 14px;
                    height: 15px;
                    fill: $white;
                }
            }

            &-single {
                display: flex;
                flex-direction: column;
                width: 264px;
                height: 49px;
                margin-right: 2.4%;
                padding-top: 2px;


                @include media('d-1400-only') {
                    width: 212px;
                }

                @include media('m-t-only') {
                    width: 100%;
                }

                &.mod_button {
                    justify-content: center;
                    align-items: center;
                    padding-top: 4px;
                    background: $widgetActiveBlue;
                    border: 1px solid $widgetInstallBorderBtn;
                    border-radius: 8px;
                    color: $white;
                    cursor: pointer;
                }

                &#firstButton {
                    order: 1;

                    @include media('m-t-only') {
                        order: 2;
                        margin-bottom: 38px;
                    }
                }

                &.mod_checkboxes {
                    order: 2;

                    @include media('m-t-only') {
                        order: 1;
                        height: 55px;
                        justify-content: space-between;
                        margin-bottom: 50px;
                    }
                }

                .single_checkbox {
                    display: flex;

                    .single_checkbox-input {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }

                    .single_checkbox-label {
                        font-size: 16px;
                        color: $mainDarkBlue;

                        @include media('d-1400-only') {
                            font-size: 12px;
                        }
                        @include media('m-t-only') {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}



