@import '@/app';

.widget-main {
    .widget_container {
        max-width: 1625px;
        padding: 60px 17px;

        @include media("d-only") {
            padding: 60px 45px 40px 38px;
        }
    }

    .cabinet-page_title {
        margin-bottom: 40px;

        @include media('t') {
            text-align: center;
        }

        @include media("d-only") {
            text-align: left;
            margin-bottom: 64px;
        }
    }

    .widget-top_button {
        max-width: 287px;
        height: 49px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        color: $widgetBackgroundMobi;
        background-color: $mainDarkBlue;

        border-radius: 8px;
        padding: 0 20px;
        margin: 0 auto 11px;

        @include media('d-only') {
            display: none;
        }
    }

    .widget-block {
        width: 100%;
        background: $landingHeaderbackground;

        border: 1px solid $widgetSidebarBorder;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        box-shadow: 0 3px 12px rgba(239, 248, 253, 0.21);


        @include media('t-ipad') {
            margin: 0 auto;
            width: 600px;
        }

        @include media('d-only') {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 35px 15px 33px 19px;
            border-radius: 0;
            box-shadow: none;
        }

        .widget-block_list {
            @include media('d-only') {
                display: flex;
                flex-wrap: wrap;
                margin-left: -18px;
                margin-right: -18px;
                margin-bottom: -36px;

                & > * {
                    width: calc(50% - 36px);
                    margin-left: 18px;
                    margin-right: 18px;
                    margin-bottom: 36px;
                }
            }

            @include media('d-wxga') {
                & > * {
                    width: calc(33.33% - 36px);
                }
            }
        }

        .widget-block_top {
            @include media('d-phd') {
                display: flex;
                margin-bottom: 34px;
            }
        }
    }

    .widget-block_elem-wrap {
        width: 100%;
        margin-bottom: 29px;
        cursor: pointer;

        @include media('d-only') {
            height: 117px;
            display: flex;
            align-items: center;
            background: $white;
        }

        &.mod_size {
            display: none;

            @include media('d-only') {
                display: flex;
                flex: 1;

                border: 1px solid rgba(0, 33, 95, 0.05);
                box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);
                color: $mainDarkBlue;

                font-size: 29px;
                font-weight: 600;
                padding: 0 29px;

                margin-bottom: 24px;
            }

            @include media('d-phd') {
                margin-right: 31px;
                margin-bottom: 0;
            }
        }

        .widget-block_elem {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            color: $widgetActiveBlue;
            background-color: $widgetBackgroundMobi;
            border-top: 1px solid $widgetSidebarBorder;
            border-bottom: 1px solid $widgetSidebarBorder;


            @include media('d-only') {
                width: 50%;
                height: 117px;
                color: $widgetElemText;
                border: none;
                background-color: $white;
                padding: 10px 15px;

            }

            &.mod_color {
                @include media('d-only') {
                    color: $white;
                    background-color: $widgetActiveBlue;
                    border-top: 1px solid $widgetElemBorder;
                    border-bottom: 1px solid $widgetElemBorder;

                    .widget-elem_icon {
                        fill: $white;
                    }
                }
            }

            &.left {
                @include media('d-only') {
                    border-right: 1px solid $widgetElemBorder;
                }
            }

            &.right {
                flex-direction: column;
                justify-content: center;
                background-color: $white;
                border-top: none;
                border-left: none;
                border-right: none;
                color: $widgetElemText;
                padding: 0 20px;

                @include media('d-only') {
                    border: none;
                }
            }

            .mobile-svg_wrap {
                width: 88px;
                height: 80px;
                border: 1px solid $widgetSidebarBorder;
                border-left: none;
                background-color: $lightBlueGradientFrom;

                @include media('d-only') {
                    width: 62px;
                    height: 35px;
                    border: none;
                    background: none;
                }

                .widget-elem_icon {
                    width: 35px;
                    height: 35px;
                    flex-shrink: 0;
                    fill: $widgetActiveBlue;
                    margin: 21px 26px;


                    @include media('d-only') {
                        margin: 0 15px 0 12px;
                        fill: $widgetBlockSvg;
                    }
                }
            }

            .widget-elem_text {
                height: 100%;
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
                padding: 0 40px;
                cursor: pointer;

                @include media('d-only') {
                    padding: 0;
                    flex: inherit;

                }
            }
        }
    }

    .widget-block_btn {
        width: 100%;
        height: 80px;
        flex-shrink: 0;

        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        color: $landingHeaderbackground;
        border: 1px solid rgba(0, 33, 95, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        margin-bottom: 29px;

        @include media('d-phd') {
            width: 478px;
            height: 117px;
            font-size: 19px;
            margin-right: 4px;
            margin-bottom: 0;
        }

        .widget-sub_button {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background-color: $landingHeaderbackground;
            margin-right: 20px;
            position: relative;
            cursor: pointer;
            flex-shrink: 0;
        }

        &.mod_play {
            background-color: $widgetActiveBlue;

            .widget-sub_button {

                &:before {
                    content: "";
                    position: absolute;
                    top: 15px;
                    left: 20px;
                    transform: translateX(-50%);
                    display: block;
                    width: 3px;
                    height: 16px;
                    background: $widgetActiveBlue;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 15px;
                    left: 26px;
                    transform: translateX(-50%);
                    display: block;
                    width: 3px;
                    height: 16px;
                    background: $widgetActiveBlue;
                }
            }
        }

        &.mod-not_install {
            background-color: $redWidgetNot;
        }

        &.mod_pause {
            background-color: $brownWidgetPause;

            .widget-button_icon {
                width: 15px;
                height: 16px;
                fill: $brownWidgetPause;
                position: absolute;
                top: 15px;
                left: 25px;
                transform: translateX(-50%);
                display: block;
            }
        }
    }

    .widget-arrow_button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 54px;
        height: 34px;

        cursor: pointer;

        background: $landingHeaderbackground;
        box-shadow: 0 3px 12px rgba(239, 248, 253, 0.21);

        border: 1px solid $widgetSidebarBorder;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: none;

        margin: 0 auto 40px;

        @include media('d-only') {
            display: none;
        }

        .widget-arrow_icon {
            width: 14px;
            height: 8px;
            fill: $mainDarkBlue;
            stroke: $mainDarkBlue;
        }


        &.mod_rotate {
            .widget-arrow_icon {
                transform: rotate(180deg);
            }
        }

        &.mod_close {
            margin-top: -11px;
        }
    }
}