@import '@/app';

.section-head {
    padding-top: 177px;
    position: relative;

    .section-head_content {
        text-align: center;
        margin-bottom: 78px;


        .section-head_title {
            font-size: 50px;
            font-weight: 700;
            color: $mainDarkBlue;
            margin-bottom: 37px;
        }

        .section-head_subtitle {
            color: $widgetActiveBlue;
            display: flex;
            flex-direction: column;
            font-size: 24px;
            font-weight: 400;

            & :first-child {
                margin-bottom: 14px;
            }
        }
    }

    .section-head_control {
        display: flex;
        justify-content: center;
        margin-bottom: 322px;

        .section-head_input {
            min-width: 360px;
            height: 65px;
            border: 1px solid $inputBorder;
            border-radius: 8px;
            outline: none;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            padding: 0 25px;
            color: $mainDarkBlue;
            margin-right: 33px;

            &::placeholder {
                font-size: 18px;
                font-weight: 500;
                color: $landingInputPlaceholder;
            }
        }
    }

    .section-head_icon {
        width: 50px;
        border: 1px solid #0E3378;
        border-radius: 24px;
        height: 74px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        display: flex;
        justify-content: center;
        padding-top: 21px;


        .head-icon_elem {
            width: 7px;
            height: 12px;
            border-radius: 6px;
            background-color: #0E3378;
        }
    }
}


