@import '@/app';

.settings_blacklist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2.3%;
    color: $mainDarkBlue;

    @include media('m-t-only') {
        flex-direction: column;
        align-items: center;
        padding: 0 17px;
    }

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        @include media('m-t-only') {
            display: none;
        }

        .header_svg {
            width: 16px;
            height: 16px;
            fill: $mainDarkBlue;
            margin-right: 8px;
        }

        .header_value {
            height: 27px;
            font-size: 20px;
            font-weight: 700;
            color: $mainDarkBlue;
            text-transform: uppercase;
        }
    }

    &-element {
        display: flex;
        align-items: center;
        height: 49px;
        margin-bottom: 55px;
        font-size: 16px;
        font-weight: 600;

        @include media('m-t-only') {
            width: 100%;
            max-width: 768px;
            height: auto;
            flex-direction: column;
            //padding: 0 5.3%;
        }

        .element_menu {
            width: 162px;
            height: 100%;

            @include media('m-t-only') {
                max-width: 768px;
                width: 100%;
                height: 45px;
                margin-bottom: 10px;
            }
        }

        .el-select, .el-input, .el-input__inner {
            height: 100%;
            @include media('m-t-only') {
                width: 100%;
                height: 45px;
            }
        }

        .el-input__inner {
            padding-top: 5px;
            border: 1px solid $inputBorder;
            border-radius: 8px 0 0 8px;
            font-family: Axiforma, sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: $mainDarkBlue;

            @include media('m-t-only') {
                font-size: 14px;
                border-radius: 8px;
            }
        }

        i.el-select__caret.el-input__icon.el-icon-arrow-up {
            width: 12px;
            margin-right: 15px;

            &::before {
                content: url('/img/icons/arrow_up.svg');
            }
        }

        .el-select .el-input__inner:focus {
            border-color: $inputBorder;
        }

        .element_value {
            width: 264px;
            height: 100%;
            padding-left: 20px;
            border-top: 1px solid $inputBorder;
            border-right: 1px solid $inputBorder;
            border-bottom: 1px solid $inputBorder;
            border-left: none;
            border-radius: 0 8px 8px 0;
            outline: none;
            font-size: 16px;
            font-weight: 600;
            color: $mainDarkBlue;

            @include media('m-t-only') {
                width: 100%;
                height: 45px;
                max-width: 768px;
                margin-bottom: 39px;
                border: 1px solid $inputBorder;
                border-radius: 8px;
                font-size: 14px;
            }
        }
        .element_button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 210px;
            height: 100%;
            margin-left: 12px;
            padding-top: 4px;
            background: $widgetActiveBlue;
            border: 1px solid $widgetInstallBorderBtn;
            border-radius: 8px;
            color: $white;
            cursor: pointer;

            @include media('m-t-only') {
                //width: 89%;
                width: 100%;
                height: 45px;
                max-width: 768px;
                margin: 0 8% 39px;
                font-size: 14px;
            }
        }
    }

    .blacklistTable {
        font-size: 16px;
        color: $mainDarkBlue;
        margin-bottom: 50px;

        @include media('m-t-only') {
            width: 100%;
            max-width: 768px;
            margin-bottom: 15px;
      }
        @include media('t-only') {
            font-size: 14px;
        }
        @include media('m-only') {
            font-size: 12px;
        }
        &_header {
            display: flex;
            align-items: center;
            height: 63px;
            background-color: $lightBlueGradientFrom;
            font-weight: 700;

            @include media('m-only') {
                height: 60px;
            }

            &-item {
                height: 100%;
                line-height: 66px;
                padding-left: 20px;
                text-align: left;
            }
        }

        &-body {
            box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);

            @include media('m-t-only') {
                box-shadow: none;
            }
        }

        &_row {
            display: flex;
            height: 76px;
            font-weight: 400;

            @include media('m-t-only') {
                height: 40px;
            }

            &-item {
                display: flex;
                justify-content: left;
                align-items: center;
                height: 100%;
                padding-left: 20px;
                border-bottom: 1px solid $inputBorder;
                //border-right: 1px solid $inputBorder;

                &:not(:last-of-type) {
                    border-right: 1px solid $inputBorder;
                }

                &:last-of-type {
                    @include media('t') {
                        border-right: 1px solid $inputBorder;
                    }
                }
                &:first-of-type {
                    border-left: 1px solid $inputBorder;

                    @include media('m-only') {
                        border-left: none;
                    }
                }
            }
        }

        .mod_ID {
            width: 164px;

            @include media('m-t-only') {
                width: 21.0%;
            }
        }

        .mod_value {
            width: 217px;

            @include media('m-t-only') {
                width: 40.3%;
            }
        }

        .mod_type {
            width: 200px;

            @include media('m-t-only') {
                width: 21.6%;
            }
        }

        .mod_close {
            justify-content: center;
            width: 62px;
            padding-left: 0;

            @include media('m-t-only') {
                width: 17.1%;
            }

            .close_svg {
                width: 16px;
                height: 16px;
                stroke: $inputBorder;
                cursor: pointer;
            }
        }


    }
}



