@import '@/app';

.landing-main {
    position: relative;
    padding: 77px 20px 0;
    max-width: 1690px;
    margin: 0 auto;

    @include media('d-only') {
        padding: 0 32px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: -46px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 2px;
        background: $landingMainMessage;

        @include media('d-only') {
            width: 3px;
        }
    }


    .landing-main_numbering {
        position: relative;
        z-index: 2;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: $mainDarkBlue;
        margin: 0 auto 45px;
    }

    .landing-main_number {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: 700;
        color: $white;
        line-height: 1;
    }

    .landing-main_content {

        @include media('d-only') {
            display: flex;
            align-items: center;
        }

        &.mod_reverse {
            flex-direction: row-reverse;

            .landing-main_message-wrap {

                @include media('d-only') {
                    padding-right: 96px;
                    padding-left: 40px;
                }

                .landing-main_message {
                    &:before {
                        left: auto;
                        right: -98px;
                    }
                }
            }
        }

        & > * {
            width: 100%;

            @include media('d-only') {
                width: 50%;
            }
        }
    }

    .landing-main_message-wrap {
        @include media('d-only') {
            padding-left: 96px;
            padding-right: 0;
        }

        .landing-main_message {
            &:before {
                left: -98px;
            }
        }
    }

    .landing-main_message {
        position: relative;
        border-radius: 24px;
        border: 2px solid $landingMainMessage;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: $widgetActiveBlue;
        background: $white;

        @include media('t-ipad') {
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
        }

        @include media('d-only') {
            font-size: 28px;
            line-height: 38px;
            font-weight: 600;
            background: none;
            border: 3px solid $landingMainMessage;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 96px;
                height: 3px;
                background: $landingMainMessage;
            }
        }

        & > * {
            &:not(:last-of-type) {
                margin-bottom: 30px;
            }
        }
    }

    .landing-main_block {
        margin-bottom: 45px;

        .landing-main_image {
            display: none;
            position: relative;
            z-index: 2;
            padding-bottom: 46px;

            &.mod_image {
                display: block;
            }

            &.mod_border {
                display: block;
                background: $white;
                border-radius: 24px;
                border: 2px solid $landingMainMessage;
                margin-bottom: 46px;
            }
        }

        &.mod_1 {
            .landing-main_message {
                padding: 22px 32px;
            }
        }

        &.mod_2 {
            .landing-main_message {
                padding: 24px 41px;
            }
        }

        &.mod_3 {
            .landing-main_image {
                &.mod_border {
                    padding: 10px 33px;
                }
            }

            .landing-main_message {
                padding: 24px 28px;
            }
        }

        &.mod_4 {
            .landing-main_image {
                &.mod_border {
                    padding: 67px 30px 60px 35px;
                }
            }

            .landing-main_message {
                padding: 24px 26px 24px 32px;
            }
        }

        @include media('d-only') {

            .landing-main_image {
                padding-bottom: 0;
            }
            &.mod_1 {
                margin-bottom: 100px;

                .landing-main_numbering {
                    margin-bottom: 111px;
                }

                .landing-main_message {
                    padding-left: 42px;
                    padding-right: 42px;
                    padding-top: 108px;
                    padding-bottom: 108px;
                }

                .landing-main_image {
                    display: block;
                    padding-right: 40px;

                    &.mod_image {
                        display: none;
                    }
                }
            }

            &.mod_2 {
                margin-bottom: 140px;

                .landing-main_numbering {
                    margin-bottom: 123px;
                }

                .landing-main_message {
                    padding: 96px 63px;
                }

                .landing-main_image {
                    display: block;
                    padding-left: 96px;

                    &.mod_image {
                        display: none;
                    }
                }
            }

            &.mod_3 {
                margin-bottom: 173px;

                .landing-main_numbering {
                    margin-bottom: 122px;
                }

                .landing-main_message {
                    padding-top: 65px;
                    padding-bottom: 65px;
                    padding-left: 55px;
                    padding-right: 55px;
                }

                .landing-main_image {
                    display: block;
                    padding-left: 70px;
                    padding-right: 188px;

                    &.mod_border {
                        display: none;
                    }
                }
            }

            &.mod_4 {
                .landing-main_numbering {
                    margin-bottom: 49px;
                }

                .landing-main_message {
                    padding: 90px 37px;
                }

                .landing-main_image {
                    display: block;
                    padding-left: 140px;
                    padding-right: 70px;

                    &.mod_border {
                        display: none;
                    }
                }
            }
        }
    }
}

