@import '@/app';

.widget_container {
    .cabinet-steps_item {
        min-width: 250px;
        max-width: 280px;

        @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) {
                z-index: 6 - $i + 1;
            }
        }
    }
}