@import '@/app';

.statistics-journal {
    position: relative;
    margin-bottom: 10px;
}

.mod_chat {
    width: 100%;
    max-width: 1546px;
}

.statistics_journal-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 54px;
    font-size: 20px;
    font-weight: 700;
    color: $mainDarkBlue;
    fill: $mainDarkBlue;

    .title_icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
}

.statistics_journal-export {
    font-size: 14px;
    font-weight: 400;
    color: $widgetDeactivateLink;
    margin: 0 0 35px 15px;

    span {
        color: $mainDarkBlue;
    }

    .export-format {
        cursor: pointer;
    }
}

.statistics_tableColumns-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 48px;
    background: $lightBlueGradientFrom;
    cursor: pointer;

    .settings_settings {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        fill: $mainDarkBlue;
    }

    .settings_dropdown {
        width: 8px;
        height: 4px;
    }
}

.statistics_tableColumns-customize {
    position: absolute;
    left: 0;
    right: 0;
    width: 609px;
    padding: 33px 0 32px 18px;
    margin-bottom: 15px;
    background: $lightBlueGradientFrom;
    z-index: 10;
}

.tableColumns_checkbox {
    display: none;
}

.tableColumns_label {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    //align-items: center;
    margin-bottom: 6px;
    cursor: pointer;


    &-square {
        width: 22px;
        height: 22px;
        border-radius: 5px;
        background: #00215F;
        padding-left: 5px;
        margin-right: 10px;

    }

    &-text {
        color: #00215F;
        font-size: 16px;
        font-weight: 700;
    }

}

.tableColumns_checkbox:checked + .tableColumns_label .tableColumns_label-square::before {
    content: url('/img/charts/select.svg');
}

.statistics_tableColumns {
    border-collapse: collapse;
    overflow-x: scroll;

    th {
        height: 94px;
        line-height: 1.125;
        vertical-align: middle;
        padding: 0 20px;
        background: $lightBlueGradientFrom;
        border: none;
        font-size: 16px;
        font-weight: 700;
        color: $mainDarkBlue;
    }

    td {
        height: 67px;
        line-height: 67px;
        padding: 0 15px;
        border: 1px solid #F1F3F6;
        font-size: 16px;
        font-weight: 500;
        color: $mainDarkBlue;
        white-space: nowrap;

        a {
            color: #4A6BAA;
            text-decoration: none;
        }
    }

    .withImage {
        display: flex;

        img, svg {
            width: 17px;
            height: 17px;
        }
    }

    &-callImage {
        margin-top: 3px;
        margin-right: 13px;
    }

    &-soundImage {
        margin-top: 3px;
        margin-left: 13px;
        fill: $mainDarkBlue;

        svg {
            cursor: pointer;
        }
    }



    .chats_icon {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 auto;

    }

    .chats_message {
        max-width: 25%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 6%;
    }
    .chat_open {
        display: flex;
        width: fit-content;
        height: 40px;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        margin: 0 auto;
        background: #EFF8FD;
        cursor: pointer;

        svg {
            width: 16px;
            height: 14px;
            margin-right: 6px;
        }

        .chat_open-text {
            margin-top: 6px;
        }
    }

    &-searchId {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 11.7vw;
        height: 40px;
        padding: 0 19px;
        border-radius: 14px;
        border: 2px solid #BBC9DB;


        .searchId_text {
            width: 80%;
            background: inherit;
            border: none;
            outline: none;
            font-size: 16px;
            font-weight: 500;
            color: $mainDarkBlue;

            &::-moz-placeholder {
                color: #BBC9DB;
                font-weight: 500;
            }

            &::-webkit-input-placeholder {
                color: #BBC9DB;
                font-weight: 500;
            }
        }

        .searchId_sign {
            width: 16px;
            height: 16px;
            cursor: pointer;

            svg {
                width: 100%;
                height: 100%;
            }

        }
    }

}

.wavesurfer {
    display: none;
    align-items: center;
    position: absolute;
    left: 0;
    width: calc((100vw - 295px) * 0.9753);
    height: 70px;
    padding: 25px;
    background: $conversationBackground;
    border: 1px solid #F1F3F6;
    z-index: 5;
    transition: 0.25s ease;

    &.mod_visible {
        display: flex;
    }

    &-button {
        width: 31px;
        height: 31px;
        margin-right: 9px;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &-timer {
        display: flex;
        width: 210px;
        align-items: center;
        margin-top: 4px;
        font-size: 18px;
        font-weight: 600;
        color: $mainDarkBlue;

        &-item {
            margin-right: 10px;
        }
    }

    &-copy {
        width: 17px;
        height: 17px;
        margin: -5px 67px 0 6px;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &-close {
        width: 20px;
        height: 20px;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    #wavesurfer-container {
        flex-grow: 1;
        //flex-shrink: 1;
        margin: 0 15px;
    }

}


