@import '@/app';

.statistics-journal {
    position: relative;
    margin-bottom: 10px;
}

.statistics_journal-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 54px;
    font-size: 20px;
    font-weight: 700;
    color: $mainDarkBlue;
    fill: $mainDarkBlue;

    .title_icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
}

.statistics_journal-export {
    font-size: 14px;
    font-weight: 400;
    color: $widgetDeactivateLink;
    margin: 0 0 35px 15px;

    span {
        color: $mainDarkBlue;
    }

    .export-format {
        cursor: pointer;
    }
}

.statistics_tableColumns-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 48px;
    background: $lightBlueGradientFrom;
    cursor: pointer;

    .settings_settings {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        fill: $mainDarkBlue;
    }

    .settings_dropdown {
        width: 8px;
        height: 4px;
    }
}

.statistics_tableColumns-customize {
    position: absolute;
    left: 0;
    right: 0;
    width: 609px;
    padding: 33px 0 32px 18px;
    margin-bottom: 15px;
    background: $lightBlueGradientFrom;
    z-index: 10;
}

.tableColumns_checkbox {
    display: none;
}

.tableColumns_label {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    //align-items: center;
    margin-bottom: 6px;
    cursor: pointer;


    &-square {
        width: 22px;
        height: 22px;
        border-radius: 5px;
        background: #00215F;
        padding-left: 5px;
        margin-right: 10px;

    }

    &-text {
        color: #00215F;
        font-size: 16px;
        font-weight: 700;
    }

}

.tableColumns_checkbox:checked + .tableColumns_label .tableColumns_label-square::before {
    content: url('/img/charts/select.svg');
}

.statistics_tableColumns {
    border-collapse: collapse;
    overflow-x: scroll;


    th {
        height: 94px;
        line-height: 1.125;
        vertical-align: middle;
        padding: 0 20px;
        background: $lightBlueGradientFrom;
        border: none;
        font-size: 16px;
        font-weight: 700;
        color: $mainDarkBlue;

    }

    td {
        height: 67px;
        line-height: 67px;
        padding: 0 15px;
        border: 1px solid #F1F3F6;
        font-size: 16px;
        font-weight: 500;
        color: $mainDarkBlue;
        white-space: nowrap;

        a {
            color: #4A6BAA;
            text-decoration: none;
        }
    }

    .withImage {
        display: flex;
        img, svg {
            width: 17px;
            height: 17px;
        }
    }
    &-callImage {
        margin-top: 3px;
        margin-right: 13px;
    }
    &-soundImage {
        margin-top: 3px;
        margin-left: 13px;
        fill: $mainDarkBlue;

        svg {
            cursor: pointer;
        }
    }

}

