@import '@/app';

.billing-bank {

    .billing_container {
        max-width: 1625px;
        padding: 39px 17px;

        @include media('d-only') {
            padding: 53px 43px 0 38px;
            margin-bottom: 50px;
        }
    }

    .cabinet-page_title {
        margin-bottom: 38px;

        @include media('d-only') {
            padding: 0;
            margin-bottom: 55px;
        }
    }

    .billing-inputs {

        @include media("d-only") {
            display: flex;
        }
    }

    .widget-chat_inputs {

        &:not(:last-of-type) {
            margin-bottom: 26px;
        }

        @include media("d-only") {
            width: 100%;
            padding-bottom: 20px;

            &:not(:last-of-type) {
                margin-bottom: 0;
            }

            &.mod-left {
                border-right: 1px solid $billingBorder;
                padding-right: 60px;
                margin-right: 60px;

            }
        }

        .widget-input_wrap {
            width: 286px;
            margin: 0 auto;

            &:not(:last-of-type) {
                margin-bottom: 26px;
            }

            @include media('d-only') {
                width: 100%;

                &:not(:last-of-type) {
                    margin-bottom: 35px;
                }

                .widget-input_title {
                    font-size: 16px;
                    font-weight: 400;
                }

            }

            .widget-input_title {
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                color: $mainDarkBlue;
                margin-bottom: 10px;
            }


            .widget-input {
                @include media("d-only") {
                    width: 100%;
                }

                &::placeholder {
                    color: $widgetPlaceholder;

                    @include media("d-only") {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .widget-button {
        margin: 50px auto 0;

        @include media('d-only') {
            margin: 64px 0 0 0;
        }
    }
}
