@import '@/app';

.landing-cabinet {
    max-width: 1650px;
    margin: 0 auto 77px;
    padding: 0 20px;

    @include media('d-only') {
        margin: 0 auto 199px;
        padding: 0 32px;
        display: flex;
    }

    .landing-cabinet_container {
        @include media('d-only') {
            width: 540px;
            flex-shrink: 0;
        }
    }

    .landing-cabinet_title {
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        color: $mainDarkBlue;
        margin-bottom: 30px;
        display: none;

        @include media('d-only') {
            font-size: 50px;
            line-height: 51px;
            display: block;
            text-align: right;
            padding-top: 24px;
        }

        &.mod_mobil {
            display: block;
            text-align: center;

            @include media('d-only') {
                display: none;
            }
        }
    }

    .landing-cabinet_image {
        width: 100%;
        margin-bottom: 30px;

        @include media('d-only') {
            margin-bottom: 0;
            flex: 1;
        }
    }

    .landing-cabinet_list {
        margin-bottom: 46px;

        @include media('d-only') {
            padding-left: 125px;
        }
    }

    .landing-cabinet_item {
        &:not(:last-of-type) {
            margin-bottom: 11px;
        }

        @include media('d-only') {
            &:not(:last-of-type) {
                margin-bottom: 21px;
            }
        }

        .landing-cabinet_item-text {
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            color: $widgetActiveBlue;

            @include media("d-only") {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    .button {
        &.mod_landing {
            @include media('d-only') {
                margin-left: 209px;
            }
        }
    }
}