@import '@/app';

.statistics {

    width: calc(100% - 295px);
    overflow: visible;

    @include media ('m-t-only') {
        width: 100%;
        overflow: hidden;
    }



    &_container {
        max-width: 1625px;
        padding: 54px 2.47% 0;
        //margin-bottom: 20px;

        @include media ('m-t-only') {
            padding: 40px 5.3% 0;
            overflow: hidden;
        }
    }

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;

        @include media ('m-t-only') {
            flex-direction: column;
            justify-content: flex-start;
        }

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 244px;
            font-size: 20px;
            font-weight: 700;
            color: $widgetBlockSvg;
            fill: $widgetBlockSvg;

            .title_icon {
                width: 16px;
                height: 16px;
            }

            .mod_active {
                color: $mainDarkBlue;
                fill: $mainDarkBlue;
            }

            .title_item {
                cursor: pointer;
            }
        }

        &-dates {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 818px;
            font-size: 16px;
            font-weight: 500;
            color: $mainDarkBlue;

            @include media('d-1400-only') {
                width: 660px;
                font-size: 14px;
            }
            @include media ('m-t-only') {
                justify-content: center;
                margin-top: 16px;
            }

            .dates_periods {
                display: flex;
                height: 38px;
                line-height: 2.5;
                border: 1px solid $inputBorder;
                border-radius: 8px;

                @include media ('m-t-only') {
                    display: none;
                }

                .onePeriod {
                    width: 95px;
                    text-align: center;
                    cursor: pointer;

                    &:not(:last-of-type) {
                        border-right: 1px solid $inputBorder;
                    }

                    &.mod_current {
                        @extend %blueGradient;
                        color: $white;
                    }

                    @include media('d-1400-only') {
                        width: 68px;
                    }
                }
            }

            .dates_calendar {
                display: flex;
                height: 38px;
                line-height: 2.5;
                padding: 0 16px;
                background: $white;
                border: 1px solid $inputBorder;
                border-radius: 8px;

                .calendar_icon {
                    width: 21px;
                    height: 21px;
                    margin: 7px 10px 0 0;
                    fill: $inputBorder;
                }
            }


        }


    }

    &_diagrams {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid $widgetInstallBorder;

        @include media('m-t-only') {
            padding-bottom: 15px;
        }

        .statistics_diagram {
            background: $white;
            border: 1px solid rgba(0, 33, 95, 0.05);
            border-radius: 8px 8px 0 0;
            box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);


            &.mod_big {
                width: 48.8%;
                margin-bottom: 42px;

                @include media('m-only') {
                    width: 100%;
                    margin-bottom: 23px;
                }

                .diagram {
                    position: relative;
                    width: 100%;
                    padding-bottom: 41.5%;

                    @include media('m-t-only') {
                        padding-bottom: 0;
                        height: 312px;
                    }
                }
            }

            &.mod_medium {
                width: 31.8%;
                margin-bottom: 54px;

                @include media('t-only') {
                    width: 48.8%;
                    margin-bottom: 23px;
                }
                @include media('m-only') {
                    width: 100%;
                    margin-bottom: 23px;
                }

                .diagram {
                    position: relative;
                    width: 100%;
                    padding-bottom: 63.4%;

                    @include media('m-t-only') {
                        padding-bottom: 0;
                        height: 312px;
                    }
                }
            }

            &.mod_small {
                width: 23.35%;
                margin-bottom: 54px;

                @include media('t-only') {
                    width: 48.8%;
                    margin-bottom: 23px;
                }
                @include media('m-only') {
                    width: 100%;
                    margin-bottom: 23px;
                }

                .diagram {
                    position: relative;
                    width: 100%;
                    padding-bottom: 87.9%;

                    @include media('m-t-only') {
                        padding-bottom: 0;
                        height: 312px;
                    }
                }
            }
        }


    }
}
