@import '@/app';

.statistics {

    &_container {
        max-width: 1625px;
        padding: 110px 2.47% 0;
    }

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 244px;
            font-size: 20px;
            font-weight: 700;
            color: $widgetBlockSvg;
            fill: $widgetBlockSvg;

            .title_icon {
                width: 16px;
                height: 16px;
            }

            .mod_active {
                color: $mainDarkBlue;
                fill: $mainDarkBlue;
            }
        }

        &-dates {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 818px;
            font-size: 16px;
            font-weight: 500;
            color: $mainDarkBlue;

            @include media('d-1400-only') {
                width: 720px;
            }

            .dates_periods {
                display: flex;
                height: 38px;
                line-height: 2.5;
                border: 1px solid $inputBorder;
                border-radius: 8px;

                .onePeriod {
                    width: 95px;
                    text-align: center;

                    &:not(:last-of-type) {
                        border-right: 1px solid $inputBorder;
                    }

                    &.mod_current {
                        @extend %blueGradient;
                        color: $white;
                    }

                    @include media('d-1400-only') {
                        width: 80px;
                    }
                }
            }

            .dates_calendar {
                display: flex;
                height: 38px;
                line-height: 2.5;
                padding: 0 16px;
                border: 1px solid $inputBorder;
                border-radius: 8px;

                .calendar_icon {
                    width: 21px;
                    height: 21px;
                    margin: 7px 10px 0 0;
                    fill: $inputBorder;
                }
            }


        }


    }

    &_diagrams {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-big {
            width: 46.31%;
            margin-bottom: 42px;
            border: 1px solid rgba(0, 33, 95, 0.05);
            box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);

            .diagram_mod-big {
                position: relative;
                width: 100%;
                padding-bottom: 41.5%;


            }
        }

        &-small {
            width: 21.9%;
            border: 1px solid rgba(0, 33, 95, 0.05);
            box-shadow: 0 3px 8px rgba(0, 33, 95, 0.04);

            .diagram_mod-small {
                position: relative;
                width: 100%;
                padding-bottom: 87.9%;
            }
        }




    }
}
