//@import './../../../../sass/variables';
@import '@/app';

.auth-input {
    width: 100%;
    height: 45px;
    border: 1px solid $inputBorder;
    border-radius: 8px;
    margin-bottom: 15px;
    padding-left: 16px;
    font-size: 13px;
    font-weight: 500;
    color: $mainDarkBlue;

    &::-moz-placeholder {
        color: $mainLightBlue;
        font-weight: 300;
    }

    &::-webkit-input-placeholder {
        color: $mainLightBlue;
        font-weight: 300;
    }

    &:focus::-webkit-input-placeholder {
        color: transparent
    }

    &:focus::-moz-placeholder {
        color: transparent
    }
}

.auth {
    background-color: $landingBackground;
    text-align: center;

    .test {
        background-color: $white;
    }

    .auth_wrapper {
        max-width: 520px;
        margin: 0 auto;

        .authHeader {
            margin: 88px auto 30px;
        }

        .regHeader {
            margin: 46px auto 30px;
        }

        .restoreHeader {
            margin: 104px auto 30px;
        }
    }

    .auth_method {
        height: 58px;
        margin: 0 18px;
        padding-top: 19px;
        background: $white;
        border-radius: 8px;
        box-shadow: 0 3px 12px rgba(0, 33, 95, 0.04);
        color: $mainDarkBlue;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        text-transform: uppercase;

        & span {
            cursor: pointer;
        }

        .mod_passive {
            color: $mainLightBlue;
            font-weight: 100;
        }
    }

    .auth_authMode, .auth_regMode, .auth_restoreMode {
        background: $white;
        margin-top: -7px;
        padding: 29px 33px;
        border-radius: 8px;
        box-shadow: 0 3px 12px rgba(0, 33, 95, 0.04);

        & .button {
            height: 45px;
            font-size: 14px;
            font-weight: 600;
            color: $white;
            cursor: pointer;
        }
    }

    .auth_restoreMode {
        padding-bottom: 20px;
    }

    .auth-passwordForgot {
        margin-top: 29px;
        font-size: 12px;
        font-weight: 600;
        color: $widgetActiveBlue;
        cursor: pointer;
    }

    .regMode_steps {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;

        .regMode_step {
            width: 38px;
            height: 38px;
            line-height: 41px;
            border-radius: 50%;
            background: $mainLightBlue;
            font-size: 15px;
            font-weight: 400;
            color: $white;
            z-index: 1;

            &.mod_active {
                background: $mainDarkBlue;
            }
        }

        &::after {
            position: absolute;
            content: "";
            width: 90%;
            top: 50%;
            left: 5%;
            border-top: 1px solid #CDE4F0;
        }
    }

    .regMode-agree {
        margin-top: 18px;
        font-size: 9px;
        color: $mainLightBlue;

        & .regMode-link {
            text-decoration: none;
            color: $widgetActiveBlue;
            cursor: pointer;
        }
    }

    .restoreMode_text {
        margin-bottom: 23px;
        font-size: 14px;
        font-weight: 400;
        color: $mainDarkBlue;
    }

    .restoreMode_back {
        margin-top: 26px;

        .leftArrow {
            font-family: "Mdht";
        }

        .restoreMode_backButton {
            margin-left: -5px;
            font-size: 12px;
            font-weight: 600;
            color: $widgetActiveBlue;
            cursor: pointer;

            &::before {
                margin-right: 10px;
            }
        }
    }
}





